[2021-07-09 14:36] yarikoptic opened #404 "Unify production and staging deployments"
ref https://github.com/dandi/dandi-api/pull/402#issuecomment-877234064 :

 staging relies on heroku's way to fetch the branch, whenever production relies on https://github.com/dandi/dandi-api/blob/master/.github/workflows/production-deploy.yml which is triggered only on releases. IMHO should be harmonized to always be done by that github action.  I think it might help to ensure that we have needed

[2021-07-09 15:35] waxlamp commented on #403
#401 now includes a fix for this problem. Once that is merge, #402 can be updated to latest master in order to pass linting tests.

[2021-07-09 15:37] #403 closed

[2021-07-09 15:51] waxlamp commented on #404
Will need to investigate this. The github action we invoke for production deployment uses [Heroku's git workflow](https://devcenter.heroku.com/articles/git), and I'm not sure if the final result is different from Heroku's autodeploy, since both are going to use the Python buildpack, etc.

@brianhelba may already know enough to weigh in on this.

[2021-07-09 15:58] waxlamp commented on #361
We are no longer using the staging branch as part of the workflow for this repo. It, along with several other stale branches, are still there but I'm working on pruning them away.

[2021-07-09 16:54] yarikoptic commented on #361
that is good to know (and worth removing `staging` if it is still there) -- I just provided explanation (based on the fact) why this issue was not auto-closed ;)

[2021-07-09 18:24] dchiquito opened #407 "Update validation status to PENDING wherever possible"
@dchiquito Could the server update the status as part of responding to the `POST .../assets/` or `PUT .../assets/{asset_id}/` request at the end of an upload?  Exactly what sort of requests trigger an asset validation job, anyway?

_Originally posted by @jwodder in https://github.com/dandi/dandi-cli/issues/706#issuecomment-877372380_

We should try to keep the validation status of assets and versi

[2021-07-09 18:48] satra commented on #407
@dchiquito - does this mean the states here weren't implemented: https://github.com/dandi/dandi-api/blob/master/doc/design/publish-1.md#validation-process

[2021-07-09 20:07] yarikoptic commented on #222
ok, installation without `-e` didn't help
[code]
if only it was possible to augment execution of the builder so it could at least show more detail about the source location :-/

[2021-07-09 20:26] waxlamp commented on #274
This seems like an issue for the CLI to solve. We do need to figure out how to report the API version but once that is in place, the CLI should abort its own operation if the version number from the API is incorrect.

[2021-07-09 20:26] #274 closed

[2021-07-09 21:08] waxlamp commented on #273
Going to close this because I don't believe making the redirector work in a local dev setup is necessary.

[2021-07-09 21:08] #273 closed

[2021-07-09 21:08] waxlamp commented on #276
Would like an update on this: @satra, is this still a concern, or is it subsumed by the work on asset summary generation?

[2021-07-09 21:10] waxlamp commented on #176
Uploads now do go directly to S3, if I understand correctly. I believe that means this is no longer a concern.

[2021-07-09 21:10] #176 closed

[2021-07-09 21:11] waxlamp commented on #58
@dchiquito, is this now solved? I believe it is, so I'll close.

[2021-07-09 21:11] #58 closed

[2021-07-09 21:23] waxlamp commented on #71
@yarikoptic what is the status of this issue? If it is still a valid issue, could you update the issue description with a detailed example of the problem you're trying to solve?

[2021-07-09 21:27] satra commented on #276
this is subsumed by the assets summary.

[2021-07-09 21:27] #276 closed

[2021-07-09 21:36] waxlamp commented on #117
I think this is either done or moot, with validation becoming a part of the publish workflow, and with all validation logic living in dandischema.

[2021-07-09 21:36] #117 closed

[2021-07-09 21:40] waxlamp commented on #123
I believe this is covered by dandiset-level and asset-level validation. Re-open if this specific proposal is still needed.

[2021-07-09 21:40] #123 closed

[2021-07-09 21:40] waxlamp commented on #124
Done.

[2021-07-09 21:40] #124 closed

[2021-07-09 21:43] waxlamp commented on #135
@yarikoptic can you clarify whether this is still needed? It sounds like you are asking for a content-addressable store for the blobs, but I'm not clear on why accessing a dandiset's asset blobs via asset IDs is a problem.

[2021-07-09 21:43] #135 closed

[2021-07-09 21:44] waxlamp commented on #140
I think this has been covered by the move of validation logic to dandischema, as well as the use of RabbitMQ and Celery via the Heroku deployments.

[2021-07-09 21:44] #140 closed

[2021-07-09 22:03] waxlamp commented on #168
This seems like a lot of work to support an edge case that will maybe never arise in practice. I'd like to either close the issue or de-emphasize it until it crops up as a hard requirement from, e.g., a real user.

Let me know your thoughts, @yarikoptic. In the meantime, I will unassign @dchiquito from working on it.

[2021-07-09 22:04] waxlamp commented on #179
I think this is done. @dchiquito, can you confirm?

[2021-07-09 22:06] waxlamp commented on #181
This is not actionable as written. @yarikoptic could you verify that this problem persists, and then clarify both the title and the description to aim us towards what to do?

[2021-07-09 22:07] waxlamp commented on #182
@dchiquito, what's the status of this issue?

[2021-07-09 22:11] waxlamp commented on #188
I believe this is solved now. Re-open if not.

[2021-07-09 22:11] #188 closed

[2021-07-09 22:13] #190 closed

[2021-07-09 22:14] waxlamp commented on #191
@satra: what's the purpose of maintaining this list as an issue? I'd prefer to keep issues actionable, and I'm not sure what the action here is.

[2021-07-09 22:15] #191 closed

[2021-07-09 22:18] yarikoptic commented on #181
well, as for "actionable" it just needed a click on the link provided, login to the link provided to see if they are Draft or Findable. I did that and saw that most recent DOIs are
![image](https://user-images.githubusercontent.com/39889/125140841-6dd6f700-e0e1-11eb-9fbf-a87436f91e6c.png)

some other recent ones are still "Draft" ones though:
![image](https://user-images.githubusercontent.com/3988

[2021-07-09 22:19] yarikoptic commented on #181
probably unrelated but spotted that the Draft one has "Neural Data published 1970 via DANDI Archive" which sounds odd...

[2021-07-09 22:22] waxlamp commented on #193
This would be my preference. It seems to be a lot of work to control the order of key emission during YAML serialization, and does not bring a lot of benefit. Better would be not to worry about YAML serialization, treat that as an incidentally human-readable bit of machine metadata, and let the clients make the metadata beautiful.

[2021-07-09 22:22] #193 closed

[2021-07-09 22:25] waxlamp commented on #195
Done.

[2021-07-09 22:25] #195 closed

[2021-07-09 22:25] waxlamp commented on #202
Done.

[2021-07-09 22:25] #202 closed

[2021-07-09 22:33] waxlamp commented on #206
@satra: can you clarify what you mean by "returns" vs "embeds"?

[2021-07-09 22:35] satra commented on #206
this is now resolved. for example, https://api.dandiarchive.org/api/dandisets/000004/versions/draft/ returns only metadata

[2021-07-09 22:35] #206 closed

[2021-07-09 22:38] satra commented on #191
i think this was meant to be checked off when implemented. of this only the first two have been implemented. but whatever is being done out of band should also be documented somewhere.

[2021-07-09 23:49] yarikoptic commented on #190
Note: the actual issue isn't resolved AFAIK, and there is a workaround of --nothreading added only to docker-compose of dandi-cli only https://github.com/dandi/dandi-cli/blob/0a2903f67bba8f4664fb488794c00c48b30586b9/dandi/tests/data/dandiarchive-docker/docker-compose.yml so anyone eventually trying to get their own instance running would get to the same situation IMHO

[2021-07-10 13:09] yarikoptic commented on #176
The issue was largely about supporting multiple methods of upload source (currently local drive), not as much destination (s3). But I guess we can create more specific one wherever first immediate use case comes about

[2021-07-10 13:11] yarikoptic commented on #273
Eventually we should come back to this, but probably not in the scope of individual component (dandi-API)

[2021-07-12 19:06] dchiquito opened #408 "Make draft version invalid for publishing after publishing"
Draft version can be published repeatedly without any changes, which is bad. They should be marked into a new status, `PUBLISHED`, which will be removed the next time it is modified and revalidated.

[2021-07-12 20:43] waxlamp opened #409 "Fix DOI configuration in production"

[2021-07-12 20:55] waxlamp commented on #90
This is done. Woo hoo!

[2021-07-12 20:55] #90 closed

[2021-07-12 20:56] #139 closed

[2021-07-12 20:57] waxlamp commented on #154
This is done now.

[2021-07-12 20:57] #154 closed

[2021-07-13 03:25] satra commented on #133
@dchiquito - seeing a lot of these worker errors again with the dataset i'm currently uploading.

here is a timestamp if you wanted to check:
[code]

[2021-07-13 03:34] satra opened #410 "publish issues: manifest location does not change for published dandiset"
https://api.dandiarchive.org/api/dandisets/000029/versions/0.210712.1903/

- this displays the incorrect location for manifest.

[2021-07-14 04:23] satra opened #411 "cannot save metadata from GUI due to cors error"

[2021-07-14 19:26] bendichter opened #781 "when dataset is empty, offer button for upload instructions"
![image](https://user-images.githubusercontent.com/844306/125681077-c210041b-1d1b-4c05-869c-44919d6a962e.png)

Perhaps replace View Data with Upload Instructions when the dandiset is empty (since there is no data anyway)

[2021-07-14 20:50] satra commented on #411
this seems to have mysteriously resolved.

[2021-07-14 20:50] #411 closed

[2021-07-14 20:59] yarikoptic opened #413 "remove duplicated assets ?"
Follow up to merged https://github.com/dandi/dandi-api/pull/412 which should (didn't review yet) prevent assets duplication in the future.  But we already have some dandisets with AFAIK duplicated assets e.g. https://gui.dandiarchive.org/#/dandiset/000108 @satra identified this issue on.

[2021-07-14 21:17] bendichter opened #758 "Improve dandiset creation screen with more information for end user"
* the License (i) icon should offer more helpful hints about the different license types

* ~provide brief instruction on the top:~
	~Red is required~
	~To add funding information, …~ (Roni: I don't think this is still valid; all fields in the form are required, and funding information in particular must be added at a later time; @bendichter, please explain in a new comment if you disagree)

* ~Pr

[2021-07-15 13:19] waxlamp commented on #413
Yes, Daniel is already aware of this and will work to remove the dupes as soon as we are confident that the fix actually works.

[2021-07-15 14:35] yarikoptic opened #414 "Allow to login with a (known) API key instead of going through github oauth"
Primarily to facilitate automated testing/interaction with webui, originally came up in https://github.com/dandi/dandi-api-webshots/issues/1 for which we had to move webshots to be done on a dedicated in-house box (drogon) with persistent device id.

The question came back while discussing automating figures/webshots for documentation.

[2021-07-15 14:50] satra opened #415 "does the user search taken active status into account"
when the user search endpoint is used, does it filter by internal db active status?

[2021-07-15 14:52] satra commented on #415
and do we know what happens on the UI when a non-active user tries to log in? do we have some message to say please post an issue on github or email X?

[2021-07-15 17:51] waxlamp commented on #213
@dchiquito, can you give an update on the status of this issue?

[2021-07-15 17:55] mvandenburgh opened #416 "Improve API docs"
Related: #266

[2021-07-15 22:30] waxlamp commented on #207
`aws s3 cp s3://dandiarchive/dandisets/000029/0.210712.1903/dandiset.yaml .` worked for me (but I had to provide my AWS credentials).

[2021-07-15 22:30] #207 closed

[2021-07-15 22:33] satra commented on #207
It might be worth checking that you can get it simply over http. Should be a public file

[2021-07-15 22:36] waxlamp commented on #222
Because of how Heroku builds deployed code, there is no VCS context at all (as Daniel mentioned above), so versioneer simply cannot retrieve the correct version from its computations. To be clear: it's not a problem of a shallow clone or anything like that; it's more that the software setup Heroku receives is not a git repository.

I have an ugly solution in mind but it will probably "just work":

[2021-07-15 23:23] yarikoptic commented on #222
I would advise to address #404 first by making https://github.com/dandi/dandi-api/blob/master/.github/workflows/production-deploy.yml deploy for both instances. This would be beneficial regardless of this issue. And then we get back to this one ;-)

[2021-07-16 14:16] waxlamp commented on #222
I will do that, but I am almost certain it will have no bearing on Heroku's build process.

[2021-07-16 15:57] yarikoptic commented on #207
FWIW, checked for that one -- accessible:
[code]

[2021-07-16 15:58] yarikoptic commented on #207
full `ls` -- still only that dandiset version -- both `assets.yaml` and `dandiset.yaml` are accessible
[code]

[2021-07-16 22:17] waxlamp commented on #231
@satra, @yarikoptic: is this still a problem currently?

[2021-07-16 22:19] waxlamp commented on #232
#233 seems to be connected to this issue.

[2021-07-16 22:20] waxlamp commented on #244
One simple way is to log into the admin console, then click on `Users` to see the full list. Will that work?

[2021-07-16 22:22] waxlamp commented on #253
I'm not sure I understand this. Don't asset uploads have to be done per dandiset? I think I am unclear on what "without association to a dandiset" means.

[2021-07-16 22:23] waxlamp commented on #254
I have a feeling this has been solved.

[2021-07-16 22:23] #255 closed

[2021-07-16 22:27] waxlamp commented on #256
The way to do it now is for us to whitelist domains that are allowed to access the API via browser. This is somewhat akin to other scenarios where you have to apply to gain access to something (e.g., maps API, etc.).

If you think this is sufficient, I can close this issue and open a specific issue to allow CodePen to access the API. Let me know how you'd like to proceed.

[2021-07-16 22:28] waxlamp commented on #257
I assume this has since been resolved.

[2021-07-16 22:28] #257 closed

[2021-07-16 22:29] waxlamp commented on #258
This has been solved. It turns out its only the people subscribed to the mit.edu mailing list that see these scary From fields; ordinary users are seeing the correct email headers.

[2021-07-16 22:29] #258 closed

[2021-07-16 22:37] satra commented on #254
this one should be a nagios type check on the database because this is a background process that could fail and we would only know it based on dandiset validation errors. this can remain closed, but we should work towards the state of the archive dashboard.

[2021-07-16 22:40] #231 closed

[2021-07-16 22:42] satra commented on #244
this is ancient at this point, and currently we have a solution. we will need to do a user profile refactor of the db at some point.

[2021-07-16 22:42] #244 closed

[2021-07-16 22:44] satra commented on #253
currently assets are, but not blob uploads. so i can use the api to upload blobs to the archive, without associating with any dandiset.

[2021-07-16 22:46] satra commented on #256
perhaps we can start with codepen for now. but in general we do want to consider why a client side app on gh-pages (so potentially custom domain) should not be allowed to talk to the API without requesting CORS support. i.e. what the security implications are that we are worried about.

[2021-07-17 15:10] yarikoptic commented on #258
so it was only partially solved.

[2021-07-17 15:11] yarikoptic commented on #255
ok, let's consider this and #100 superseded by a more generic https://github.com/dandi/dandi-api/issues/397

[2021-07-17 15:13] yarikoptic commented on #254
I have a feeling it was not solved.  My feeling is supported by running the original cmdline invocation:
[code]

What supported your feeling @waxlamp ?

[2021-07-19 15:08] #292 closed

[2021-07-19 17:20] dchiquito commented on #408
Fixed by #419

[2021-07-19 17:20] #408 closed

[2021-07-19 17:54] dchiquito commented on #399
@satra should the first file be called `metadata.jsonld` or `dandiset.jsonld` or something else? You only specified an extension

[2021-07-19 18:18] satra commented on #399
should be called dandiset.jsonld and assets.jsonld (so just extension/format change)

[2021-07-19 19:28] waxlamp commented on #263
@satra, just to confirm, is this the topic you mentioned in today's standup? We've got some ideas on how to begin building this feature

[2021-07-19 19:30] satra commented on #263
@waxlamp - yes, the first bullet above is more of the computation on the archive db type of audit that is specific to dandi, the rest i think are more of the automation pieces that would aggregate streams of info from other sources.

[2021-07-19 20:08] yarikoptic opened #422 "Why there is both `path` and `path_prefix` for `/files` endpoint?"
![image](https://user-images.githubusercontent.com/39889/126220635-288f87c2-c213-422c-be93-f8006d8e120f.png)
seems to be doing the same thing when I tried.  Should then be only a single parameter, not two .

[2021-07-19 21:59] waxlamp commented on #268
The new user email indicates the GitHub ID, so I assume that is sufficient to close this issue. If we want to have programmatic access to DANDI users' GitHub accounts, let's file a new issue to figure that out.

[2021-07-19 21:59] #268 closed

[2021-07-19 22:00] #269 closed

[2021-07-19 22:00] waxlamp commented on #271
I believe this has been done. @dchiquito and/or @mvandenburgh, please re-open if not.

[2021-07-19 22:00] #271 closed

[2021-07-19 22:01] waxlamp commented on #286
I think this has been solved. @dchiquito and/or @AlmightyYakob, please re-open if not.

[2021-07-19 22:02] waxlamp commented on #288
@dchiquito, has this been solved already? If not, it should be added to #310.

[2021-07-19 22:03] waxlamp commented on #289
@dchiquito, can this be closed?

[2021-07-19 22:05] waxlamp commented on #290
I believe #419 closes this issue--correct, @dchiquito and/or @mvandenburgh?

[2021-07-19 22:05] #290 closed

[2021-07-19 22:05] waxlamp commented on #291
I am pretty sure this has been fixed.

[2021-07-19 22:05] #291 closed

[2021-07-19 22:08] AlmightyYakob commented on #286
Where was this resolved? I think we're still hardcoding some URLs, but it's possible I just missed some changes.

[2021-07-20 13:41] #399 closed

[2021-07-20 14:17] #410 closed

[2021-07-20 16:06] dchiquito commented on #299
Have you tried running `docker-compose run --rm django tox` as mentioned in the documentation? That will run `tox` inside the django container, which has all the right environment variables already specified, and as a bonus it will spin up the necessary backing services as well. That sounds like the "turnkey" solution you are asking for here.

[2021-07-20 18:21] waxlamp commented on #300
This has been turned off via the Django admin console, but I am looking for a way to express it in code instead. Leaving open until I can do that.

Related: https://github.com/jazzband/django-oauth-toolkit/issues/718

[2021-07-20 18:23] waxlamp commented on #305
I'm assuming this has been resolved.

[2021-07-20 18:23] #305 closed

[2021-07-20 18:29] waxlamp commented on #306
Closing this in favor of #263 and #177.

[2021-07-20 18:29] #306 closed

[2021-07-20 18:30] yarikoptic commented on #286
it was probably resolved in some spots but not all yet:
[code]
and I just ran into the use case
- from https://gui-staging.dandiarchive.org/#/dandiset/000033/draft/files?location=sub-SChm2nd%2Fses-20210521h17m17s06%2Fmicroscopy%2F navigated to individual json info
- https://api-staging.dandiarchive.org/api/dandisets/000033/versions/draft/assets/68ff650d-9478-49e5-84cd-fbc46e60001b/
- which has
[co

[2021-07-20 18:30] waxlamp commented on #311
Closing this as FOI

[2021-07-20 18:30] #311 closed

[2021-07-20 18:34] waxlamp commented on #319
I don't think we should expose `admin` status in the public API, unless there's some specific need to do so. I am also against changing the endpoint just for consistency--I would prefer to have a positive reason for doing the work.

I am not seeing the connection between the linked doc and this issue; could you explain?

Going to close this unless/until there's a compelling reason to do this work.

[2021-07-20 18:34] #319 closed

[2021-07-20 18:35] yarikoptic opened #425 "staging bucket permissions are different from the deployment one"
in that I can't really access any blob, or list the bucket

<details>
<summary>my attempts</summary>

[code]
</details>

on one hand -- it might be desired (thus could be argued to be a "feature" and closed) but I thought that having staging and deployment as similar as possible would be beneficial, thus IMHO preferable.

I have ran into this as my next step in https://github.com/dandi/dandi-api/i

[2021-07-20 18:45] waxlamp commented on #336
@AlmightyYakob, can you say whether this is still a problem?

[2021-07-20 18:47] waxlamp commented on #344
When we get to investigating Wasabi as an embargo storage backend, we will certainly want to take this on if necessary.

[2021-07-20 18:48] waxlamp commented on #347
Is this solved? I haven't heard about any trouble lately from the datacite.

[2021-07-20 18:57] waxlamp commented on #368
We are now in the process of performing releases to deploy to production, and we are generally incrementing the minor version number as we do so.

I'm not sure how your "breakage point" proposal helps. When things are in 0.x generally the idea is to pin exact versions, since compatibility information simply isn't guaranteed between releases (i.e., "all bets are off"). Can we just be more strict ab

[2021-07-20 18:57] mvandenburgh opened #426 "Move ContactPerson extraction into `dandischema`"
[The logic for extracting a dandiset's contact person from its version metadata](https://github.com/dandi/dandi-api/blob/master/dandiapi/api/views/serializers.py#L7-L17) should be moved to dandischema and exported as a function that dandi-api can use.

This will prevent the Contact Person display in the UI from breaking again in the event of a schema change.

Forgot to file this issue and was remi

[2021-07-20 18:59] AlmightyYakob commented on #336
I believe it still is, there's been no updates to any relevant code.

[2021-07-20 19:09] yarikoptic opened #427 "do not spill errors from 404'ing elements into sentry"
Due to https://github.com/dandi/dandi-api/issues/286 ended up querying an asset which doesn't exist on staging, and got an email from sentry with following traceback:
[code]
I think such exceptions (wrong asset or blob id, etc) should not percolate all the way up and cause sentry to react.

[2021-07-20 19:28] waxlamp commented on #409
Fixed via https://github.com/dandi/dandi-infrastructure/pull/80.

[2021-07-20 19:28] #409 closed

[2021-07-20 19:30] waxlamp commented on #413
Done.

[2021-07-20 19:30] #413 closed

[2021-07-20 19:31] waxlamp commented on #425
Indeed, the production bucket is world-readable by design. We can make the staging bucket this way also if it helps to carry out testing. I'd like to hear opinions from @satra, @dchiquito, and @brianhelba on what pitfalls may exist if we do so.

[2021-07-20 19:31] yarikoptic commented on #305
In assumptions we trust...

[code]
so seems indeed be fixed if that is the endpoint @satra was talking about (detail wasn't provided)

[2021-07-20 19:52] waxlamp commented on #168
Closing this until it's needed by an actual use case.

[2021-07-20 19:52] #168 closed

[2021-07-20 20:36] jwodder opened #428 "Error when trying to publish twice in a row"
I'm writing a test for the client that requires a Dandiset to have at least two different published versions, and so the publish endpoint is called on the draft version twice.  Unfortunately, the second time the endpoint is called (even after waiting for validity between publications), it fails with a 400 response with the message "Dandiset metadata or asset metadata is not valid", despite the fac

[2021-07-20 20:45] mvandenburgh commented on #428
[The API was recently updated to prevent this](https://github.com/dandi/dandi-api/issues/290). The draft needs to be modified after the first publish in order to publish a second time.

[2021-07-20 20:58] dchiquito commented on #378
This was resolved properly by https://github.com/dandi/dandi-api/pull/429. Any change to a draft dandiset will set the manifestLocation to the correct value, and published dandisets have their manifestLocation set correctly.

[2021-07-20 20:58] #378 closed

[2021-07-20 21:01] #428 closed

[2021-07-20 21:13] waxlamp commented on #253
Ok thanks for clarifying this for me.

[2021-07-20 21:16] waxlamp commented on #256
I believe the risks are general. For instance, allowing any website to make requests to the DANDI API server opens up avenues of attack via CSRF/XSS. I also believe such attacks can be defended against but we need to do so deliberately.

I am not an expert in the security aspects here. @brianhelba can likely give much better information.

[2021-07-20 21:28] waxlamp commented on #254
Admittedly, not much. I just assumed that missing digests would be a bigger problem that would have forced a fix by now.

I see a few things to do here:
- create a route for a dandiset owner to offer a digest value if one is missing, to be validated by the server (or, if this doesn't make sense, simply to compute and save the digest during validation if it is missing)
- write a one-time repair scr

[2021-07-20 21:55] waxlamp commented on #258
I considered it a problem that ordinary users might be seeing "scary" headers. If the mit.edu email servers are rewriting headers and causing ugly emails for just the admin team, that seems to be out of scope for the DANDI project to fix.

There are nonetheless other fixes available, like moving our email list to google or some other provider, or even asking MIT admins what's going on. But as far

[2021-07-20 22:01] waxlamp commented on #368
Upon re-reading the original report, it seems like we can close this issue now? Production releases now require a tagged release, so once we figure out how to reliably supply version information to Heroku for the build, the CLI should have all the info it needs.

[2021-07-20 22:01] #368 closed

[2021-07-20 22:46] yarikoptic commented on #368
Well, I am ok to have it closed for now but we will come back to this whenever API matures since we cannot and will not be always in the 0.x land, and having PATCH and MINOR  and even MAJOR releases will come.  client will never have "all the info it needs" if every release of dandi-api breaks compatibility since then client would require constant upgrades, and eventually (whenever we start workin

[2021-07-21 00:43] satra commented on #425
if we clear out everything on some regular basis then perhaps. or when we support wasabi, perhaps then we enable public staging since egress is free.

[2021-07-21 00:47] yarikoptic commented on #425
Note: benefit of having staging public is not for consumption, but for testing to parallel production. API urls (eg exposed via web ui) already provide access to those blobs. Disabling access at bucket level doesn't really make staging data non downloadable.

We should clean it out quite regularly anyways to not incur avoidable cost. I think before embargo we should have GC implemented first, whic

[2021-07-21 02:27] satra opened #430 "editing metadata resulting in summary generation errors on production"
in this dandiset it says it is unable to generate asset summary: https://gui.dandiarchive.org/#/dandiset/000108

[2021-07-21 04:40] brianhelba commented on #256
I'd suggest conducting a review of all endpoints with an eye towards how they could be abused via CSRF. If any vulnerabilities are found which can't be remedied, those particular endpoints can be blocked from CORS access.

At that point, I think it could be safe to switch to a CORS Origin policy of `*`.

For new (or significantly changed) endpoints in the future, the same analysis should be conduc

[2021-07-21 13:44] waxlamp commented on #256
@satra, I've added codepen.io to the whitelist. Can you check whether it's working as intended?

[2021-07-21 13:48] yarikoptic opened #431 "scheduled-tasks design: needs a mechanism to allow for reasonable use in tests"
@jwodder's issue/question #428 made me realize that if https://github.com/dandi/dandi-api/blob/master/doc/design/scheduled-tasks.md (+ #423) is implemented "as is", it would make testing `publish/` in dandi-cli and elsewhere [*] against dandi-api would then take it many minutes if not hours to run, since for every publish we would need to wait for scheduled tasks to trigger (I guess waiting for st

[2021-07-21 13:54] waxlamp commented on #368
When we decide that the API is ready for 1.0, then we will need to be far more careful about breaking changes. The reason many projects stay in 0.x for essentially their entire lifetimes is that it is indeed difficult to commit to a 1.0 semver workflow. But we are still in a research-type phase with API design where, e.g., we are reshuffling how some endpoints work because of performance issues, e

[2021-07-21 13:58] satra opened #432 "timestamps should incorporate time zone info"
various places require timestamps (datePublished, publishedBy, and others). since we will eventually get to different instances of the api running potentially in different time zones, it would be good to incorporate timezone info into timestamps.

[2021-07-21 14:08] dchiquito opened #433 "Remove AssetMetadata model"
The original intent for AssetMetadata was to deduplicate metadata in the same way that blobs are deduplicated. This has turned out to be completely nonsensical, as metadata always includes asset specific information that is never shared between two assets.

Since there is no point to having AssetMetadata and it is obnoxious to deal with, we should remove it and just use a `metadata: JSONField` fie

[2021-07-21 14:24] dchiquito commented on #430
I think the problem is invalid asset metadata. I add logging in #434 to help identify exactly what is going wrong.
Long term #417 should show exactly what asset metadata is incorrect, which is the better solution.

[2021-07-21 15:06] satra commented on #430
let's find out.

[2021-07-21 17:00] dchiquito commented on #430
Jul 21 09:58:21 dandi-api app/web.1                     Traceback (most recent call last):
Jul 21 09:58:21 dandi-api app/web.1                       File "/app/dandiapi/api/models/version.py",
Jul 21 09:58:21 dandi-api app/web.1                     line 245, in _populate_metadata
Jul 21 09:58:21 dandi-api app/web.1                         summary = aggregate_assets_summary(
Jul 21 09:58:21 dandi-a

[2021-07-21 17:03] satra commented on #430
that seems weird that it would not have `encodingFormat`.  @yarikoptic - we can track this down, but i'm assuming the CLI should have caught this before uploading.

[2021-07-21 17:24] satra commented on #430
found all the issues, and i'll file a CLI issue for the encodingFormat.

[code]

[2021-07-21 17:35] dchiquito commented on #391
Doing a `PUT ../versions/{version_id}` that is a no-op will update `assetsSummary`.

What exactly was the use case for this endpoint? `assetsSummary` should be recomputed whenever changes are made.

[2021-07-21 18:00] dchiquito commented on #422
Both do the same thing in the code. `path` is provided by an `AssetFilter`, which is the more correct way to approach the problem, while `path_prefix` is used in the code to explicitly query for assets whose path starts with `path_prefix`.

Currently only `path_prefix` works, but I think we should get `path` working correctly and delete `path_prefix`.

[2021-07-21 19:08] yarikoptic commented on #430
`Metadata version 0.3.0 is not allowed` -- smells like old dandischema/client were used to upload, likely the `0.14.0 (Thu Apr 15 2021)` ... filed https://github.com/dandi/dandi-cli/issues/722

[2021-07-21 19:43] yarikoptic commented on #391
relates to https://github.com/dandi/dandi-api/issues/431 as might be providing a workaround for testing if this end-point would cause the task without any delay

[2021-07-21 20:54] dchiquito commented on #288
It has not been done yet. I added it to the checklist.

[2021-07-21 21:00] dchiquito commented on #289
Versions are protected adequately, but the assets safeguard still needs to be added.

[2021-07-21 23:57] satra commented on #430
i fixed the specific issue by deleting and reuploading the asset. other issues have been filed about metadata consistency.

[2021-07-21 23:57] #430 closed

[2021-07-22 00:01] satra commented on #254
most of the missing digests are because the hash computation process on the api server failed for some reason. the server should automatically relaunch these jobs. (and the number/location of such failures can be monitored on our dashboard).

the hash recomputation only needs to happen on assets missing them, so could be triggered by a cron job. instead of a user contacting us, it would be good fo

[2021-07-22 15:22] yarikoptic opened #436 "extend top level /assets/ end-point to mirror dandisets_version ones"
trigger for the request: https://github.com/dandi/dandi-cli/issues/723#issuecomment-884920772 i.e. inability to get asset metadata (to e.g. decide either it was modified or might be the same IIRC) to make `dandi download` handle top level `/assets/<asset_id>/download/` end points.

I think there should be
- `GET /assets/{asset_id}/` -- get metadata (of immediate need)
- `GET /assets/{asset_id}/val

[2021-07-22 16:07] yarikoptic opened #437 "Allow for upload/handling of a number/range of schema_version's"
To some degree a continuation of https://github.com/dandi/dandi-api/issues/172 .

We have `schema_version` (as provided by `/info/` end-point). It is a singular version and requires very tight coordination between growing number of components (dandi-api, web ui, dandi-cli) to make everything "kosher".  E.g. to prevent users uploading assets with metadata in older versions, thus known to be invalid

[2021-07-22 16:53] yarikoptic commented on #299
unrelated interesting in the scope of #222 observation is that versioneer seems to fail to provide correct version in that case as well:
[code]

overall - the docker-compose invocation seemed to run but fails quite badly on v0.1.3-15-g0373d72 state of things:
- linting failed
- tests: "9 failed, 215 passed, 133 warnings in 26.51s ", didn't scroll through all code dumps but many are due to `  urlli

[2021-07-22 20:07] waxlamp commented on #299
Can you point to an example of what you mean in `dandi-cli`? "Fixtures" and "tox environments" are not objects of the same type.

[2021-07-22 20:46] sentry-io[bot] opened #441 "Fix race condition when uploading the same asset twice"
Apparently it is possible for two clients to upload the same blob twice at the same time, resulting in an integrity error when trying to save the second blob to the DB. The integrity error is a good thing as it prevents the DB from containing duplicate blobs, but we should plug the hole and prevent an error from being thrown.

The problem is specifically this block in `upload_validate_view`:
[code

[2021-07-22 21:43] dchiquito commented on #299
I fixed the error you were running into in #442.

[2021-07-22 23:14] yarikoptic commented on #299
I would be happy to, and even wondering why I have not done that originally: https://github.com/dandi/dandi-cli/blob/master/dandi/tests/fixtures.py#L158

[2021-07-23 16:21] #288 closed

[2021-07-23 20:54] yarikoptic opened #769 "Enable Sentry to collect client (browser) side errors/warnings"
I thought to bolt it on top of webshots repo, but since that one is public while errors might have some secrets leaked, decided against that.  @waxlamp mentioned that it is possible to be done via Sentry, so I think it should be done since otherwise it seems many (well -- all?) client-side errors (such as dandi/dandiarchive#811) go unnoticed.  Then regular webshots run will sweep through dandisets

[2021-07-23 21:19] yarikoptic commented on #422
note that they aren't exactly "the same thing", since `path_prefix` manages to strip itself off whenever it is not ending with trailing `/`:
[code]

[2021-07-23 21:28] yarikoptic opened #444 "allow for exact path matching in dandisets_versions_assets_list and unify `path*` options"
somewhat relates to https://github.com/dandi/dandi-api/issues/422 for `dandisets_versions_assets_paths_read` where situation is somewhat opposite: there is both `path` and `path_prefix` which are used as a `path` really (which should end with `/`, but as I just commented on there -- it accepts without now and causes different behavior) and not `path_prefix`.

in `dandisets_versions_assets_list` th

[2021-07-26 13:24] satra commented on #437
i like this approach a lot to enable some of the behind the scenes migration of metadata. to consolidate this, we may want to put the json specification in dandischema itself, so that the above spec is returned by whichever version of dandischema is in use. what the api server could do is make sure we don't go backwards by mistake. so it can store the version in the db and if on deployment the ver

[2021-07-27 12:57] satra opened #445 "potential additional steps for draft datasets"
to bring draft datasets to some level of findability and usability, we should:

1. "publish" using a cron-job to our dandisets prefix (this will also ensure that we can reconstruct the data archive from the s3 bucket in case something happens (subject to draftness changes between cron invocations). this may be tied with changes to validation invocations.
2. mint a draft doi from the production dat

[2021-07-27 15:14] waxlamp opened #446 "Use a more polite salutation for nameless GH users"
When a GitHub user with no name registered signs up for a DANDI archive account, they receive an email that opens with `Dear None`. We should change this to `Dear <github_username>`.

[2021-07-27 15:26] waxlamp commented on #445
What is the benefit of publishing to a false prefix for findability/usability? I would imagine the search mechanisms we wish to ultimately have could simply work on all dandisets, regardless of draft/published status, without having to go through the motions of publishing them somewhere.

[2021-07-27 15:28] satra commented on #445
not sure i understand what this means.

the publish of draft datasets to s3 is to help satisfy aws criteria for the open dataset program.

[2021-07-27 15:31] waxlamp commented on #445
Sorry, I assumed that by "dandisets prefix" you meant a separate publishing area that is cordoned off from "actual" published versions. That's what I meant by "false prefix".

Ah ok. Is this a matter of findability _within_ the sponsored bucket, or via search engines going through the archive site?

[2021-07-27 15:38] satra commented on #445
ah i realize that i may be the only person that uses object prefixes on s3 as a noun :)

this would be the s3 prefix that we are using for publishing dandisets. so no change to the location, just that we would also run the s3 publishing step (potentially sans validation or doi) for draft dandisets.

yes.

[2021-07-27 15:52] yarikoptic commented on #445
Re doi for draft - I think it might make sense to mint/update doi pointing to latest (draft or release) similarly to what zenodo does (they don't have draft though, so points to latest release)

[2021-07-28 20:13] yarikoptic commented on #436
@waxlamp WDYT would be ETA for this?
if long -- we would need a workaround at dandiarchive level to e.g. switch back to provide `dandiset_version` based /assets download urls instead of top level -- otherwise (without metadata on assets) `dandi-cli` cannot handle urls users get from web ui, and do its due diligence (check checksum, mtime, etc) and thus support these new endpoints "properly"

[2021-07-29 16:44] waxlamp commented on #436
It should be pretty easy to add this. I will do so soon, or ask Daniel to work on it.

[2021-07-29 21:30] waxlamp commented on #436
@dchiquito: there are a bunch of tests failing, where the API is giving a 200 instead of a 302. Any idea what's going on?

[2021-07-30 00:18] #436 closed

[2021-07-30 00:19] waxlamp commented on #436
@yarikoptic, can you and @jwodder test this functionality on staging through the necessary changes in dandi-cli? If it works as expected, we can do a release to get it into production.

[2021-07-30 01:29] yarikoptic commented on #436
it should be possible, I have updated https://github.com/dandi/dandi-cli/issues/723

[2021-07-30 18:46] waxlamp commented on #299
Thanks @yarikoptic. I'm going to close this issue since the immediate problems are solved, and if we want to take on the task of doing a more comprehensive cross-component testing strategy, we should open a new issue to focus on that.

Right now, I don't see a need for it in dandi-api: the testing strategy we have now works as intended. The text fixture you showed is interesting and creative, and

[2021-07-30 18:46] #299 closed

[2021-07-30 19:28] dchiquito commented on #182
`curl -X GET "https://api.dandiarchive.org/api/dandisets/000029/versions/0.210730.1538/" -H  "accept: application/json"`
[code]

This has been done.

[2021-07-30 19:28] #182 closed

[2021-07-30 19:30] #232 closed

[2021-07-30 19:31] dchiquito commented on #181
This was resolved in https://github.com/dandi/dandi-api/pull/451

[2021-07-30 19:31] #181 closed

[2021-07-30 19:33] dchiquito commented on #179
This was resolved in #419

[2021-07-30 19:33] #179 closed

[2021-08-03 15:33] waxlamp commented on #446
This feels like it's out of scope for us TBH. Names are a sensitive matter in general and I don't think we should be in the business of nudging people to provide one when we already have a degree of accountability through their GitHub handle.

[2021-08-05 18:20] waxlamp opened #765 "Validation error list doesn't update after fixing"
To reproduce:
1. Create a new dandiset.
2. Note that the validation error list complains about missing license.
3. Click on "fix issues", add a license, and save.
4. Note that the validation error list has not changed.
5. Refresh the page.
6. Note that the missing license error message is now gone.

[2021-08-06 12:51] #416 closed

[2021-08-06 14:08] dchiquito opened #458 "Only update modified date from the API"
Currently, the `modified` field is set to update on save, which means any change to a Dandiset/Version/Asset will update the `modified` field, including updating validation status or any other fields not directly related to content. This means that the modified date gets updated if, for example, an asset is revalidated.

We should only be updating the `modified` field when changes are made to the

[2021-08-06 14:23] mvandenburgh opened #760 "Add mechanism to front end to indicate version metadata validation is pending"
The front end should show some kind of indication that version metadata is being validated. Right now it just displays the old validation status, which is misleading.

[2021-08-06 16:36] dchiquito opened #459 "Fix publish process"
The current publish process does not follow the procedure outlined in the design doc.

 https://github.com/dandi/dandi-api/blob/master/doc/design/publish-1.md#publish-process bullet 4 says that when publishing draft assets, they are modified in place to include the publish info.

https://github.com/dandi/dandi-api/blob/b55dd766d7aa28625f585bb49c8847f92feaf075/dandiapi/api/views/version.py#L139-L15

[2021-08-06 17:07] mvandenburgh opened #757 "Race condition when multiple people are using the meditor on the same dandiset simulataneously"
We may want to consider some kind of locking mechanism to prevent people trampling each other's edits.

[2021-08-06 20:38] #459 closed

[2021-08-06 20:59] satra opened #461 "inject license info into asset metadata on save/publish"
currently license is only at the dandiset level. as part of our metadata injection process (for non-published assets), we should add the dandiset license into the asset metadata.  to prevent doing a migration again, we can check for this during publish and inject the license info.

published assets license cannot change.

presently the schema does not require this for an asset, but i think we shou

[2021-08-07 11:27] satra opened #462 "update citation to use doi for published version"
@yarikoptic - any reason not to use the doi in the citation for the published version? wouldn't that be more standard for publication (also see zenodo's citation).

[2021-08-07 11:28] satra commented on #461
@yarikoptic - cc:ing here as well.

[2021-08-07 11:38] yarikoptic commented on #462
Sure we need to include doi in the citation for published version now that we have them,  I am all for it

[2021-08-07 11:49] yarikoptic commented on #461
Not sure why act of publishing is the one to inject license for assets - license might have been known since beginning.

Do we have copyright field in metadata? (License without a copyright - ownership- is kinda like a driver license without a driver AFAIK)

Not necessarily a single asset would have a license (factual data points aren't copyrightable) while dataset might as representing a unique c

[2021-08-07 12:02] satra commented on #461
just like license added to dandiset metadata, license is added to asset metadata (there is no conceptual difference as far as i can tell). as a piece of structured text it has implicit copyright. the licenses we are using apply to data as well. i can dig up the reference if needed, but there is a discussion on data licenses, and since i'm not a lawyer, i will take the statements for granted that l

[2021-08-08 14:37] satra commented on #254
bumping this for more urgency. this prevents publish on dandisets, and nothing an owner can do, since this is a server side operation.

[2021-08-09 16:57] waxlamp commented on #462
@satra, I'm unclear on what needs to be done. This sounds like a frontend issue?

[2021-08-09 18:22] dchiquito commented on #254
I manually triggered recomputation, it's been going for a few hours now. It looks like the assets with problems were mostly large, so hopefully recomputation will be done tomorrow.

[2021-08-09 18:25] yarikoptic commented on #425
Let's do so?  or at least may be to allow LIST/GET on keys (I don't think we need to list the entire bucket content) -- needed to establish testing of the datalad'ification script.  Even if we had a unified interface to both minio and s3 (ref: https://github.com/dandi/dandi-api/issues/344) it would not test "as deployed", so we decided to proceed with (ab)using staging bucket.  But then ran into t

[2021-08-09 18:53] dchiquito commented on #425
I see no objection to adjusting the staging bucket permissions. I plan on getting to that tomorrow.

[2021-08-09 20:06] waxlamp opened #463 "Redesign asset metadata and version metadata models to eliminate technical debt"

[2021-08-09 23:11] satra commented on #462
this is an api issue. the citation field generation has to be replaced with the doi url when publishing.

[2021-08-10 12:25] yarikoptic commented on #254
hm, I thought I posted a question but apparently not:

- will we/you be notified whenever triggered recomputation (I hope only on blobs which lacked sha2-256, not all) errors out?

FWIW, in the past 24 hours there were many (>250) "heroku[worker.1]: Error R14 (Memory quota exceeded)" logged (ref: #133).

[2021-08-10 14:27] waxlamp commented on #461
To test my understanding, I want to summarize the proposed policy in different words and see if it rings true to you:
1. Assets are assigned the license of their dandiset upon publish.
2. A draft asset can only be added to a different dandiset by the owner of the dandiset containing that asset.
3. A published asset can be added to a dandiset if the asset's license is compatible with the dandiset's

[2021-08-10 14:30] dchiquito opened #465 "Provide a proper endDate in publishedBy field"
When publishing, dandi-api generates a `publishedBy` field with some information about the publish process. Two of the required fields are `startDate` and `endDate`. Generating the metadata to use in the publishing is the first step, so it isn't possible to know what `endDate` at that time.

Since publishing is a relatively quick operation, dandi-api has been setting `startDate` and `endDate` to t

[2021-08-10 14:56] brianhelba commented on #425
I also see no problem with adjusting the staging bucket permissions to mirror production.

[2021-08-10 15:01] yarikoptic commented on #425
Great! Thank you @dchiquito in advance

[2021-08-10 15:02] yarikoptic commented on #425
BTW, while at it - make sure it is versioned bucket. Would allow to test GC say s3 level etc before bringing to production

[2021-08-10 15:11] #463 closed

[2021-08-10 15:24] dchiquito opened #466 "Assets Summary is not always present"
Assets Summary is not present on https://gui-staging.dandiarchive.org/#/dandiset/000026/draft.
Assets Summary is also not present if you start on https://gui-staging.dandiarchive.org/#/dandiset/000026/draft and click one of the published versions. However, if you click one of the published versions, then click a different published version, Assets Summary shows up as an empty field.

https://gui-s

[2021-08-10 18:22] yarikoptic opened #468 "blobs_digest_create (AKA POST /blobs/digest) - support 'dandi:sha2-256' algorithm"
pretty much a replacement for a closed #135 , so let me answer @waxlamp question

it is desired to provide user convenience and ability to integrate with external services (such as https://github.com/flatironinstitute/kachery) which operate based on a commonly used (unlike dandi-etag) sha256 checksum.

For some reason I thought that we already support fetching blobs by sha256 (well -- #135 was clo

[2021-08-10 19:41] dchiquito commented on #254
We should get alerts in Sentry in the event of failures.

The heroku warnings occur when the 1GB RAM quota is full. There is also 1GB of swap space to tap into, so nothing actually breaks until the application hits 2GB of memory in use.

The jobs have completed and there are no more blobs with undefined sha256 checksums, so I'm going to close this issue and open a new one to monitor for this happe

[2021-08-10 19:41] #254 closed

[2021-08-10 19:43] dchiquito opened #471 "Monitor for AssetBlobs with undefined sha256"
The sha256 checksum of newly uploaded blobs is calculated by an asynchronous task, which may fail. We should monitor the DB for older AssetBlobs which do not have a sh256 field, and have a way to conveniently recompute those checksums as necessary.

#254 is an instance of this happening.

[2021-08-10 20:36] dchiquito opened #472 "Use settings.DANDI_DOI_API_PREFIX instead of 10.805067 in tests"
Where does that hardcoded DOI prefix come from? Should it be parameterized somehow?

I realize this is a testing module, so maybe it doesn't matter here, but if this value corresponds to a production datacite instance or something like that, I wonder if it should be stored in and retrieved from an environment variable or something like that.

_Originally posted by @waxlamp in https://github.com/da

[2021-08-10 23:56] satra commented on #461
@waxlamp - yes on first pass your thought process is correct.

the key is to think about provenance of the asset, and while we think of asset as metadata + blob, at least presently the license tied to this joint construct, but provenance and hence license could be tracked from the perspective of the earliest point. to make things more complicated:
1. licenses can change on drafts
2. any metadata c

[2021-08-11 14:17] waxlamp commented on #461
I think in the short term, all we really need is to validate license compatibility before publish. (To see why this is true, I could rephrase this in a shifted context as "all we really need is to validate *existence* of a license before publish", which is something we already do, or "all we really need is to validate that at least one asset exists before publish", etc.)

But this brings up a new

[2021-08-11 14:55] yarikoptic commented on #471
FWIW, I have reverted not issuing a warning in our dataladification script: https://github.com/dandi/dandisets/commit/3cd51b596b7de2d275cea40b248a2253c08ff469  so now I think I should be getting those warnings in cron job report.  Not a solution, but at least we might have some means (if I spot it) for detecting if smth like that happens again.

[2021-08-11 21:32] dchiquito commented on #425
@yarikoptic I updated the staging bucket to have the same permissions settings as production.

[2021-08-11 21:32] #425 closed

[2021-08-12 14:37] yarikoptic opened #476 "allow (with force=True, admin-only?) deletion of dandisets with published versions"
ATM the need primarily for use of staging archive for testing of https://github.com/dandi/dandisets/pull/55 but eventually we might need this functionality to prune bogus/compromised/etc dandisets anyways.

[2021-08-12 15:12] waxlamp commented on #462
Closed via #467

[2021-08-12 15:12] #462 closed

[2021-08-12 17:48] yarikoptic commented on #476
Dear @jwodder, please take a stab at furnishing such a PR.  I will surrender to @dchiquito 's suggestion of having a dedicated `destroy` end-point instead of just "enhancing" `DELETE`. https://github.com/dandi/dandi-api/blob/HEAD/dandiapi/api/views/dandiset.py#L136 has example for user being admin check.

[2021-08-12 18:15] yarikoptic opened #477 "add Person clicking "Publish" to "publishedBy""
As came up during dandi-standup.
ATM `"publishedBy"` is populated with an Activity `"DANDI publish"` which `wasAssociatedWith` `"DANDI API"` process.
Might require more discussion and how it should relate to overall "provenance tracking" of changes etc, but insofar I think `publishedBy` should ideally provide "Actor" (Person) information

[2021-08-12 19:16] dchiquito commented on #256
We have already set up an allowed origin (gui.dandiarchive.org), so we would need the Origin `gui.dandiarchive.org` to have access to all Methods (including PUT/POST), while everyone else (`Origin: *`) would only have access to read only Methods (`GET`, `HEAD`, `OPTIONS`). I don't see a way in [django-cors-headers](https://github.com/adamchainz/django-cors-headers) to have tiers of CORS allowed-ne

[2021-08-13 20:30] waxlamp commented on #256
Can we use the [signals](https://github.com/adamchainz/django-cors-headers#signals) feature to implement this sort of discrimination? Basically, examine the `request` for its origin and method, and respond appropriately?

[2021-08-13 21:09] satra commented on #256
perhaps there is something similar to how we do this in nginx: https://enable-cors.org/server_nginx.html

[2021-08-13 21:14] waxlamp commented on #256
The policy in that Nginx example is readily implementable in Django without any trouble. What we want is to respond differently based upon the origin making the request, and the methods they wish to use. I think the signals mechanism I linked to above will allow us to do that, but I'd like @dchiquito's take on that.

[2021-08-13 21:54] dchiquito commented on #256
I skimmed right over that bit of the docs. It does look like signals offer exactly what we want:

This is almost exactly our use case, except we need to filter on methods, not URLs.

[2021-08-14 00:16] waxlamp commented on #256
As long as the `request` object informs about the method (which I can't imagine it doesn't), then I think we should try this method.

@dchiquito, can you take a run at it?

[2021-08-16 15:18] yarikoptic commented on #286
Inspired by the email about dandibot became and owner, FWIW, here is the list of hard-coded urls

[code]

[2021-08-16 16:43] jwodder commented on #476
@yarikoptic @dchiquito How should this "destroy" method be accessed via the API?  As `DELETE .../versions/{version}/`, `POST .../versions/{version}/destroy/`, or something else?

[2021-08-16 17:44] waxlamp commented on #476
IMO it should be `DELETE .../versions/{version}`.

[2021-08-16 18:00] yarikoptic commented on #476
oh, right -- so then it would be a duty of the client to just to go through all versions, DELETE them and then DELETE the "top level" (would not even fail since there would be no published entries) dataset , right?

[2021-08-16 18:18] waxlamp commented on #476
I think this is correct, though I am not sure what you mean by "not even fail". If the dandiset has no published versions, then `DELETE /dandiset/{dandiset}` would succeed. Otherwise, you would need to `DELETE` all the versions first, as you said. (And, additionally, `DELETE .../versions/draft` should always result in an error.)

[2021-08-16 19:02] yarikoptic commented on #476
yeap, that is what I meant by "not even fail" -- not error out upon DELETE as there would be no published versions left.

Great point, thank you @waxlamp ! Although we did envision (somewhere/sometime) ability to "archive" dandisets, so `draft` is removed,  only published versions exist -- so no further changes to dandiset could be done.  But that would require review of the design etc, so indeed

[2021-08-16 19:13] waxlamp commented on #476
👍🏾

I agree that this is a separate feature. Even then, I imagine we would do something like `PUT` a boolean value to `/dandisets/{dandisets}/archive` in order to make the draft version disappear, but that is quite different from the `DELETE` actions we're discussing here.

[2021-08-17 13:16] #256 closed

[2021-08-17 16:51] #404 closed

[2021-08-18 19:37] #476 closed

[2021-08-19 14:45] jwodder commented on #468
@yarikoptic @dchiquito This isn't strictly necessary for this issue, but why is a "fetch" operation implement via a POST endpoint?  Wouldn't it make more sense for it to be a GET with the algorithm and value passed as query parameters?

[2021-08-19 17:47] dchiquito commented on #468
I see no reason for that to be a POST, feel free to change it to a GET.

[2021-08-19 18:05] yarikoptic commented on #468
is this endpoint used already in some CLI? I don't think we use it in dandi-cli and `git grep blobs` in dandiarchive comes empty.

[2021-08-19 18:08] jwodder commented on #468
@yarikoptic It is used in dandi-cli: https://github.com/dandi/dandi-cli/blob/05b956019bfe4cdc5eb8af114f99d8562709e082/dandi/dandiapi.py#L1057

[2021-08-19 18:25] yarikoptic commented on #468
what would be our migration path then to support (at least for a while both staging and main instance, since dandi-api still does not provide a usable `version`)?  try `GET` and if not there (405?) then try `POST`?

PS FWIW -- I also would vote it to have this `GET` instead of `POST`

[2021-08-19 18:30] jwodder commented on #468
@yarikoptic

That seems like the best option.

[2021-08-19 18:31] dchiquito commented on #468
It's pretty easy to allow both `GET` and `POST` on the endpoint. We could do that temporarily in this PR, update the CLI to use `GET`, then in a while remove the `POST` after people have had a chance to bump their dandi-cli version.

[2021-08-19 20:38] bendichter opened #485 "dandiset metadata dateCreated returns None"
[code]

[2021-08-20 12:54] #468 closed

[2021-08-20 13:35] yarikoptic opened #486 ""Asset matching query does not exist" errors pop up in the logs"
which leads to

[code]

Since GC is not yet in place, I wonder how that could happen... the only things I thought of
- staging instance web ui managing to provide URLs to main instance, but it is not the case -- all good there, urls point to api-staging and that one redirects to staging bucket urls.
- is a mix up between staging and main instances, but that asset uuid is not on staging either.
- i

[2021-08-20 14:33] dchiquito commented on #486
I don't think we have any way to determine what a client was trying to accomplish with that request, so I don't think we can resolve this particular UUID not existing.

However, it definitely should be returning a 404, not a 500. I will patch that.

[2021-08-20 17:44] #287 closed

[2021-08-20 19:40] dchiquito commented on #485
I'm assuming that the `dateCreated` for all draft and published versions of a dandiset should be the date the dandiset was first created, and not the date that that particular version was created.

[2021-08-20 19:43] yarikoptic commented on #485
I think so. Pretty much set once when a new dandiset is created. Ping @satra

[2021-08-20 21:02] #486 closed

[2021-08-23 19:16] yarikoptic opened #756 "Show indicator of running validation job in DLP"
per a brief discussion during stand-up and inspired by the question of @bendichter on slack last week on the status of the dandiset after a sizeable upload, I think we might improve UX if besides purely "Red" state, we add a "Yellow" ("in progress") state.

ATM we have only Red as

![image](https://user-images.githubusercontent.com/39889/130504473-5688c131-3d12-4c8f-92a1-c670c5a89639.png)

which w

[2021-08-23 21:42] mvandenburgh opened #495 "Some way for users to set first name / last name in dev environment"
https://github.com/dandi/dandiarchive/pull/850#discussion_r694296281

Right now the Django server infers the user's first and last name from their `SocialAccount` object. However, `SocialAccounts` are not used in local dev environments so first name and last name are always blank.

There should be some way to set a user's first and last name locally. This would be particularly useful for e2e testi

[2021-08-24 13:14] #485 closed

[2021-08-24 15:00] yarikoptic opened #497 "consistent zone information"
Sorry, I have not followed up more in time in https://github.com/dandi/dandi-api/pull/492#issuecomment-902990631 and was awaiting for feedback from @jwodder .

#492 switched from using `datetime.datetime.utcnow()` (which provides no time zone , but some end points were happily reporting `Z` [millitary time zone](https://en.wikipedia.org/wiki/List_of_military_time_zones)) to `datetime.datetime.now(

[2021-08-24 19:51] dchiquito commented on #497
That change impacts any dates saved in metadata. All of the dates in https://api-staging.dandiarchive.org/api/dandisets/000026/versions/0.210824.1946/ have `+00:00` appended.

The dates that use `Z` are dates that are stored in Django DB columns: https://api-staging.dandiarchive.org/api/dandisets/000026/versions/0.210824.1946/info/ `created` and `modified`. You'll notice that everything under `met

[2021-08-24 19:55] yarikoptic commented on #497
Even though they are both "valid", why to have them varying, I would have preferred a consistent zone representation across all datestamps, which could have been achieved by simply adding `Z` to that `utcnow()`

[2021-08-27 16:05] jwodder opened #498 "Published version numbers out of order on staging"
Some recent tests of [dandi/dandisets](https://github.com/dandi/dandisets) were failing because, after publishing a Dandiset (number 000186, now deleted) on staging with version ID 0.210827.1436, the next published version had version ID 0.210827.1435.  Is this supposed to happen?  I thought version numbers were always assigned in increasing order.

[2021-08-30 14:29] yarikoptic opened #501 "Delete/Cleanup Draft DOIs whenever removing versioned dandiset"
Follow up to  PR #480 . I have noticed that we accumulated 371 DOIs on https://doi.test.datacite.org/repositories/dartlib.dandi/dois by running tests (ab)using

- [ ] Deletion introduced in #480 should add an out-off-band job to remove a DOI found in that dandiset version metadata.  `Findable` DOIs cannot be removed, so we would not even try I guess, but all the `Draft` (which we populate in stagi

[2021-08-30 15:55] jwodder opened #503 "Settings check in `create_doi` uses wrong logic?"
Shouldn't these `or`'s be `and`'s here?  I assume we only want to POST if *all* of the settings are set.

https://github.com/dandi/dandi-api/blob/77a30b2c0c3dcf057a1088512128ceccd97d26ca/dandiapi/api/doi.py#L31-L36

[2021-08-30 16:11] jwodder commented on #501
@yarikoptic Can I get a list of (or a way to find) the DOIs created by the tests?  The link in your comment just redirects me to https://doi.test.datacite.org.

[2021-08-30 17:20] yarikoptic commented on #501
you should be able to get a list of all DOIs via API https://support.datacite.org/docs/api  - I think it is ok to kill all "Draft" ones there or just the ones with "John Wodder" as the author

[2021-08-30 17:39] yarikoptic commented on #503
yeah -- `or` makes no sense to me here. @dchiquito ?

[2021-08-30 18:44] jwodder commented on #501
@yarikoptic That only seems to return "findable" DOIs, and there doesn't seem to be a way to change that.  Querying https://api.test.datacite.org/dois/?query=dandi just returns results from the production Dandi Archive, and changing the query string to "Wodder" returns nothing.

[2021-08-30 18:59] yarikoptic commented on #501
- odd... thought that `curl https://api.test.datacite.org/dois/?client-id=dartlib.dandi` may be would list them but seems not.
- please try whenever authenticated to the instance
- if still no luck - please reach out to datacite asking for the clarification, since after all doc for endpoint says "List **all** DOIs" (accent mine) on https://support.datacite.org/reference/dois-1#list-all-dois

[2021-08-30 19:00] yarikoptic commented on #501
worse comes to worse -- we can just crawl that https://doi.test.datacite.org/repositories/dartlib.dandi/dois?state=draft once, and parse them out and delete.

[2021-08-30 19:14] jwodder commented on #501
@yarikoptic What are the credentials for the instance?

[2021-08-30 19:41] jwodder commented on #501
@yarikoptic OK, using the credentials you sent, the API now returns draft DOIs.  However, I'm not sure what to search for in order to get the 371 results you got.  If I search for "Wodder", I get 339 results, and if I search for "dandi" with a state of "draft", I get 388 results.  There doesn't seem to be anything distinguising the Dandi staging DOIs from the Dandi production DOIs.

[2021-08-30 20:12] yarikoptic commented on #501
production DOIs have different prefix. production `10.48324`, staging (test.) `10.80507`.  I would not "search" but request  all and filter "manually"

[2021-08-30 21:03] jwodder commented on #501
@yarikoptic Do you mean list *all* draft DOIs and only operate on the ones with a "10.80507" prefix?  Because there are 233,561 draft DOIs, which means nearly 10,000 GET requests to get all the pages, and the server isn't very fast.

[2021-08-30 21:19] mvandenburgh opened #505 "Disabled users show up in user search"
The user search endpoint currently includes user accounts that have been disabled in its results. To fix, the user search endpoint should filter out users with `is_active` set to `False`.

[2021-08-30 21:24] waxlamp commented on #495
I do this currently by editing the name fields in the Django admin console. Is that "the" way to do it? Does that mean it would require updating the `User` model from the web app?

[2021-08-31 12:02] jwodder commented on #501
@yarikoptic Actually, it turns out that isn't even an option.  Once the API gets past page 400, it starts returning the same page of items over & over, and the first 400 pages only contain 48 dandi-staging DOIs.

[2021-08-31 12:14] yarikoptic commented on #501
Yikes, please report this bug you datacite.

[2021-08-31 12:46] jwodder commented on #501
@yarikoptic Reported.  They don't seem to have a bug tracker, so I e-mailed the support address.

[2021-08-31 13:53] waxlamp commented on #497
It's true that appending `Z` is equivalent to appending `+00:00`, but now that it's done I think we should fall back on the fact that indeed both formats express precisely the same semantics. Let's let these timestamps be machine readable and not worry about textual consistency.

[2021-08-31 13:53] #497 closed

[2021-08-31 14:54] jwodder commented on #501
@yarikoptic I've found that I can get all dandi-staging draft DOIs via a request to https://api.test.datacite.org/dois?prefix=10.80507&state=draft, but that seems to include some DOIs that weren't created by the backups2datalad tests.  Exactly what criteria should I use for deciding what DOIs to delete?

[2021-08-31 15:18] waxlamp commented on #505
This seems high urgency. @mvandenburgh if you can knock this out quickly ahead of other less urgent things, that would be great.

[2021-08-31 15:21] yarikoptic commented on #501
Awesome!
In the first pass (well -- after https://github.com/dandi/dandi-api/pull/504 is merged or we would need to redo it again and again) - just remove the ones with you as the author, I think that would account for the majority.
Then I think we should remove all Draft DOIs associated with dandi-staging since why to pollute that space and/or rely on something which might disappear any moment (I

[2021-08-31 15:26] yarikoptic commented on #501
note: "Publish" on testing instance creates "Draft" DOIs for published dandisets, e.g. https://gui-staging.dandiarchive.org/#/dandiset/000020 got https://doi.test.datacite.org/dois/10.80507%2Fdandi.000020%2F0.210830.2001 published by @mvandenburgh yesterday. BUT those DOIs do not point to some "staging redirector" so not forwarding to correct location on gui-staging anyways.  I wonder if there is

[2021-08-31 16:38] djarecka commented on #501
I believe I don't use any in automatic tests. I think all my test that use it, should create a new one and clean after the test is done

[2021-08-31 20:25] yarikoptic opened #755 "Show validation issue list in meditor"
ATM the workflow is - click on "issues" icon or sidebar (in DLP redesign dandi/dandiarchive#857) to see which issues are detected, click "Fix issues" and user then ends up in meditor which feedback or easy way to see what issues they were.

A quick workaround would be to place the same omnipresent (across meditor views) icon with modal appearing upon click which would list those issues to be fixed

[2021-09-03 18:21] waxlamp opened #754 "Don't allow self-removal from dandiset owners without a warning"
Currently it is possible to use your ownership permissions to remove yourself as an owner. This becomes an irreversible action, requiring contacting another owner or the admins to be re-added. Since it's such an easy action to take (at least, in the DLP redesign), we should put up a guard to stop it from happening by mistake.

[2021-09-03 19:00] dchiquito commented on #503
My thinking was that DOIs will not work if any of those values are absent. If a user sets any of them, they presumably expect to publish DOIs. If a user were to forget one of the settings and I used `and` here, the DOI would simply not publish, leaving the user scratching their head. This way, there is at least a 500 error if a setting is accidentally omitted.

I think the UX for forgetting one of

[2021-09-03 19:04] mvandenburgh opened #753 "Move metadata schema types into a npm package"
Relevant comment from @dchiquito:

https://github.com/dandi/dandiarchive/pull/862#pullrequestreview-746389152

[2021-09-03 19:16] dchiquito commented on #495
The admin console is indeed probably the correct way to do this manually. Finding a way to do this well for automated test data is a thornier issue

[2021-09-03 19:29] yarikoptic commented on #495
IMHO largely boils down to establishing API endpoints to "manipulate" users metadata etc as brought up in https://github.com/dandi/dandi-api/pull/496#discussion_r701392217 .

[2021-09-03 19:46] #501 closed

[2021-09-03 21:04] #505 closed

[2021-09-03 21:07] #498 closed

[2021-09-03 21:41] waxlamp commented on #503
Would it be better to explicitly raise a 4xx error if all of the values aren't set?

[2021-09-03 22:01] yarikoptic commented on #503
We are taking about "deployment user" here, right?
Then IMHO it should be checked once upon start of the dandi-api that if settings.DANDI_DOI_API_URL is set all other 3 are set, and error out of they aren't . Here just use settings.DANDI_DOI_API_URL as an indicator that this deployment should mint DOIs

[2021-09-04 18:21] satra opened #752 "Better indexing for search engines"
At present the web ui is not well indexed by google. i've submitted a request. other options are:
1. to prerender:  i can enable prerendering on netlify or we can run this https://prerender.io/ for more custom capability
2. submit a sitemap separately. i'm thinking of generating this automatically using the datalad job for dandiarchive.org

also we need to inject the dandiset metadata into the htm

[2021-09-05 15:59] yarikoptic commented on #158
Partial snapshot of discussion on slack in the wake of information from @satra
![Screenshot_20210905-115715](https://user-images.githubusercontent.com/39889/132133335-915dc105-0999-417c-bbda-945da4a98b47.png)

[2021-09-06 14:52] dchiquito commented on #503
Turns out Django has a handy way to add system checks, I added one that verifies this in #508

[2021-09-06 16:05] waxlamp commented on #495
I'm against establishing these endpoints if they're only needed for admin purposes such as this. I believe we could solve this specific problem by changing the admin scripts for adding users to the system.

[2021-09-06 17:16] yarikoptic commented on #495
not unlike metadata IIRC, users would be able to change their user record/metadata (e.g. name, possibly later ORCID ID etc), while admins would be able to change everyone's.  Hiding user management behind some completely separate admin interface would IMHO make it hard(er) for admins to do any user management. IMHO django interface should be left only for "rare/critical" interactions.

[2021-09-06 17:18] waxlamp commented on #495
I guess I see this as falling under "rare/critical". I want to expose server features that are useful and expected for ordinary users to carry out. This issue is about dev accounts and how to get a real name associated with those. Unless there's a credible demand for ordinary users to change their system names (rather than just pulling that info from GitHub), I'd rather not go down that path.

[2021-09-06 17:19] waxlamp commented on #495
My feelings on this are strengthened by the difference between "username supplied by GitHub" and "dandiset metadata"--the latter is directly in DANDI's bailiwick, while the former is quite far off to the side.

[2021-09-06 17:57] dchiquito opened #509 "Make Asset/Version.validation_errors blankable in admin UI"
Both `Version` and `Asset` have a field `validation_errors` that doesn't work nicely in the admin UI. Since it isn't marked as `blank`, it can't be left empty when editing an `Asset`/`Version` in the UI, even though it should be.

[2021-09-06 18:02] yarikoptic commented on #495
Re GitHub: Do we sync name from GitHub periodically or only during account creation?

[2021-09-06 18:52] waxlamp commented on #495
AFAIK, only during account creation, but @dchiquito would probably know better than me.

To answer the obvious next question: I still don't think a user-facing API for changing their display name within DANDI is called for here. If there are any problems with names, we can fix these sorts of things in a one-off manner in response to individual complaints using the Django admin console.

[2021-09-06 19:12] yarikoptic commented on #495
FWIW, check resent user registration emails - many if not most didn't have name, so for them I guess they see ?? In the icon for the login and have no means to change that. I don't think it is a nice UX

[2021-09-06 19:22] waxlamp commented on #495
Agreed. In that case, perhaps we should be showing their GitHub username, email address, or an initial thereof.

[2021-09-06 20:26] dchiquito commented on #495
FWIW from what I can tell `extra_data` is actually refreshed on every login.

[2021-09-07 13:50] satra opened #2195 "Better user management"
Support for
- improving and maintaining user profiles
- logging in with other services (e.g., orcid)
- authorization for improved compute resources

[2021-09-07 16:37] #503 closed

[2021-09-09 14:08] waxlamp opened #750 "Validation error message for bad schema version is malformed"
The error reads like this: `: Metadata version 0.4.3 is not allowed. Allowed are: 0.5.1.` (on, e.g., [staging dandiset 000001](https://deploy-preview-857--gui-dandiarchive-org.netlify.app/#/dandiset/000001).

[2021-09-09 17:19] bendichter opened #512 "tweeting dandiset publications"
We should create a twitter bot that tweets every time a new dandiset is published. I think it should be triggered by publication, not creation, because often dandisets are created and not finished for several months. I don't think it should tweet about updates to existing datasets, as those will likely be minor and not worth mentioning, and it would open the door to possible spam.

This idea was s

[2021-09-09 17:20] waxlamp commented on #512
I moved this to `dandi-api` since that's likely the point of synchronization for a Twitter bot.

[2021-09-10 14:20] waxlamp opened #749 "Improve responsiveness of DLP controls for narrow sizes"
the right panel moves to bottom of the page when the window became narrow (not even extremely narrow).
I think the ratio between width of the main panel and the width of the right panel could be smaller

<img width="894" alt="Screen Shot 2021-09-09 at 6 43 52 PM" src="https://user-images.githubusercontent.com/1662746/132772275-48be33a2-de69-4b23-bffc-1e4c07d25072.png">

_Originally posted by @djar

[2021-09-10 14:49] jwodder commented on #501
@yarikoptic Now that the PR has been merged, should I go ahead and delete the test DOIs?

[2021-09-10 14:53] yarikoptic commented on #501
Yes, please

[2021-09-10 14:56] jwodder commented on #501
@yarikoptic 175 draft DOIs under 10.80507 with me as the author deleted.

[2021-09-10 15:10] yarikoptic commented on #501
awesome.  I still see 228 total and some of yours such as

Text Dandiset Dataset
John Wodder,
Neural Data published 2021 via DANDI Archive
A test text Dandiset
Created August 30, 2021, 13:47:39 UTC. Draft
10.80507/dandi.000198/0.210830.1347

is it taking datacite awhile to somehow react  or those were missed?

[2021-09-10 15:12] jwodder commented on #501
@yarikoptic I'm guessing it's taking datacite a while to process the deletions.  If I query the API using the same query used for the deletions, I currently get 164 results.

[2021-09-13 15:52] yarikoptic opened #515 "Investigate S3 bucket-to-bucket copy (or move)"
In the context of embargo (https://github.com/dandi/dandi-api/issues/158) and for an alternative implementation of having a dedicated separate (private) bucket (so different from #510 ) we need to investigate

- speeds of transfer within S3 between buckets in our zone
- is there S3 API call for "transfer" (copy and/or move) which performs the transfer without traffic going through the initiating s

[2021-09-13 20:49] mvandenburgh opened #516 "Create management script to copy dandisets from another deployment"
A script like this would be helpful for viewing production dandisets in staging, for example. Only the metadata for each dandiset should be copied, since we don't want to be transferring terabytes of asset data into our staging bucket.

[2021-09-15 02:37] satra opened #518 "please update to schema version 0.5.2 and dandischema 0.3.4"
new schema released to prevent NC licenses. please update api server.

[2021-09-15 14:18] #518 closed

[2021-09-16 21:49] dchiquito commented on #516
From https://github.com/dandi/dandi-api/pull/517#pullrequestreview-756683425, some things I would want from a download script:
* Downloading a single dandiset. If I'm trying to solve a problem with specific metadata, I only want to download the problem dandiset.
* An option to replace a local dandiset + ID with the remote data. Delete the dandiset that was using that ID and replace it with the rem

[2021-09-21 20:42] waxlamp opened #748 "Display some sort of "warning" that you're on the staging instance"
As we move to copy dandisets for testing from production, we may become confused more easily about which instance we're on. If we're on staging, that fact should be displayed as, e.g., a chip in the navbar or something like that.

[2021-09-21 20:45] waxlamp opened #521 "Delete legacy objects from sponsored bucket"
This comprises the `girder-assetstore` and `largefiles` prefixes.

[2021-09-21 20:47] waxlamp opened #522 "Publish draft yaml files nightly"

[2021-09-21 20:49] waxlamp opened #523 "Write a design doc for garbage collection"
This encompasses tools for performing GC manually (by the admins) and also policies for automated GC including warnings to owners of assets not associated to a dandiset, draft dandisets that have not been interacted with in a long time, etc.

See #457 for a start to this, plus some discussion that should be folded into the design doc.

[2021-09-21 20:53] waxlamp opened #524 "Enable Deep Glacier backup"
There are Terraform modules we should use to set this up.

[2021-09-21 20:54] waxlamp opened #525 "Write design docs for internal and external audit functionality"
In addition to a design for the audit system as a whole, it should include specifics on the following features:

- external
  - who made what changes (create/add/delete/modify/publish/change ownership - includes data and metadata - even better includes known apps such as web ui, cli )
- internal
  - how many blobs not associated with assets (or delta between total blob size and repo size)
  - how

[2021-09-21 20:55] waxlamp commented on #525
@satra, I want to fill in the issue description with some basic information. What is meant by "internal" and "external" in this context? Is it just a matter of which changes/actions are allowed to be read about by any user, vs. stuff we wish to keep only to admins? What are some examples?

[2021-09-21 20:57] waxlamp opened #526 "Force choice of license at dandiset creation time"

[2021-09-21 20:57] waxlamp opened #747 "Force choice of license at dandiset creation time"

[2021-09-22 14:53] dchiquito commented on #521
Done with the help of https://github.com/dandi/dandi-api/pull/528

[2021-09-22 14:53] #521 closed

[2021-09-22 15:11] #516 closed

[2021-09-23 12:57] satra commented on #525
examples:

external:
- who made what changes (create/add/delete/modify/publish/change ownership - includes data and metadata - even better includes known apps such as web ui, cli )

internal
- how many blobs not associated with assets (or delta between total blob size and repo size)
- how much to garbage collect
- uploaders by week
- API requests by origin

[2021-09-23 17:38] dchiquito opened #530 "Monitor draft manifest writing task performance"
The task which writes draft manifest files to S3 currently writes every dandiset every night. Since most dandisets will not be changed every day, we should optimize to only write draft dandisets that were modified in the last 24 hours.

This involves testing that the draft version modification date is updated correctly when dandiset metadata is change and when assets are modified or added to the d

[2021-09-23 17:39] #522 closed

[2021-09-27 13:03] waxlamp opened #745 "Inject structured data into DLP to enhance search engine performance"
From @satra: "this would involve injecting the metadata record into the html rendering. here is a pointer: https://developers.google.com/search/docs/advanced/structured-data/intro-structured-data"

[2021-09-28 18:29] mvandenburgh opened #744 "Wrap rest functions with `computed`"
Probably out of scope for this PR, but we could probably just import `computed` in `rest.ts` and define these as `computed(() => ...)` instead of `() => ...`, which saves you having to do this song and dance in every component that needs to use them.

_Originally posted by @dchiquito in https://github.com/dandi/dandiarchive/pull/901#discussion_r717847282_

[2021-09-29 10:48] satra opened #743 "add secondary prompt for delete"
at present clicking delete prompts a display with a yes/cancel option. given the size of files and upcoming actual delete from blob store, can we add another layer of protection.

type delete in a text box to actually delete. this is similar to many other sites.

[2021-09-29 10:50] satra opened #742 "add context viewer support for other file types"
- json
- csv
- tsv
- png
- jpg/jpeg
- ome.tiff (although this may be complicated given their sizes)

[2021-09-30 03:00] djarecka opened #534 "error running manage.py"
I had issues running `docker-compose up` so tried to repeat initial setup starting from `docker-compose run --rm django ./manage.py migrate` and got errors:

[code]

any idea what is wrong?

[2021-09-30 14:18] waxlamp opened #536 "Display Terms of Service during account creation"
This would appear and require agreement prior to our creating the account and putting the user through the verification process.

It would be prudent to include a notice at the top of the ToS that explains that browsing and downloading are actions that do not require creating an account.

[2021-09-30 14:53] satra commented on #536
i'm still waiting on counsel. we may just have to go with our interpretation.

i would also say that TOS changes:
- require acknowledgement by removing authorization token or disabling the account or something that forces an acknowledgment. or
- we could of course make any future changes part of the ToS and simply email changes (hopefully not frequently) to users.

[2021-09-30 15:04] waxlamp commented on #534
attn @dchiquito

[2021-09-30 16:29] yarikoptic opened #537 "draft dandiset manifests must not be updated unless changed!"
[code]
<details>
<summary>and they are all identical (see last column with md5</summary>

[code]
</details>
Even if it would just load it first (if present on S3) and does diff without relying on storing the "modified" date somewhere it could already be more efficient since would avoid delete/upload ... not yet sure how many we accumulated since #529 which was merged a week ago.

edit 1: ideally o

[2021-09-30 17:59] waxlamp commented on #536
The latter method is what I've experienced with my own online services. Counsel will have the final say but the latter option is easiest for us and for users, as long as we remind users how to delete their accounts if they do not accept changes to the terms.

[2021-09-30 21:06] dchiquito commented on #534
Running `docker-compose build` to rebuild the `django` image and reinstall the `dandischema` dependency solved the problem.

[2021-09-30 21:06] #534 closed

[2021-10-01 14:12] dchiquito opened #539 "Admin pages not loading"
Some admin pages like https://api.dandiarchive.org/admin/api/version/556/change/ fail to load with a Heroku timeout error. I suspect the issue is that the Versions page is trying to show an unpaginated list of all the Assets in the Version, which is problematic for Versions with lots of Assets.

[2021-10-01 14:13] yarikoptic commented on #537
well -- it "rightfully" contains `[]` in that frequently updated file ;)

[2021-10-01 14:20] #537 closed

[2021-10-01 14:56] dchiquito opened #541 "Do not trigger version validation when no changes were made"
Currently, opening the meditor and clicking "Save" without changing anything triggers revalidation and rewriting the draft manifests. We should check to make sure content was actually modified before setting `status = Version.Status.PENDING`.

[2021-10-01 18:10] dchiquito opened #542 "Investigate Celery priority queues"
Currently, we have one big queue that we throw all of our tasks into, and all of our workers pull from this queue. Hypothetically, we could get into a situation during a large upload where all of the workers are busy handling very large checksum calculations, leaving none of them free to deal with the scheduled version metadata validation tasks and manifest writing tasks that would pile up.

We co

[2021-10-01 20:37] dchiquito opened #544 "Asset metadata left in bad state"
I was alerted to an issue with https://gui.dandiarchive.org/#/dandiset/000008/draft reporting an asset metadata error where the asset digest was absent. The AssetBlob had the `sha256` field specified, but `Asset.metadata` did not have the corresponding digest entry. Calling `asset.save()` added the entry correctly, then calling `validate_asset_metadata` resolved that validation error.

Since users

[2021-10-04 14:46] yarikoptic opened #546 "/paths should 404 if there are not assets with path_prefix/"
[code]
ATM it would just happily return empty lists, and as a result web ui would just render an empty folder.  Go e.g. go to https://gui.dandiarchive.org/#/dandiset/000108/draft/files?location=junk

I think it would be more appropriate for dandi-api to 404 whenever both folders and files are empty, and web ui also have some error shown in such cases.

[2021-10-04 14:55] waxlamp commented on #546
Thanks Yarik, this is definitely a bug.

[2021-10-04 15:05] waxlamp commented on #544
What would be a possible action item here?

[2021-10-04 15:23] waxlamp commented on #539
This should be resolved by #545.

@mvandenburgh, if that is true, can you add a `Closes` statement to that PR?

[2021-10-04 15:38] mvandenburgh commented on #539
I don't think this is it. Even Versions with zero Assets fail to load, such as https://api.dandiarchive.org/admin/api/version/553/change/

[2021-10-04 16:05] satra commented on #544
an improvement on the message to the user and an internal audit check.

[2021-10-04 16:17] dchiquito commented on #544
A data audit was the first step I was thinking of, if it's happened in more than a couple places then the leak definitely needs to be found.

We should think about ways that we can be alerted to internal consistency errors like this one and resolve them without being prompted by users.

[2021-10-04 16:55] waxlamp commented on #544
Great, then this is connected to #263 (but it's not a dupe, so let's leave this open).

[2021-10-04 17:12] waxlamp commented on #539
Hm. What does the server log show?

[2021-10-04 18:26] jwodder opened #548 "Simple Dandisets failing to validate within 20 seconds"
As seen in #538 and [here](https://github.com/dandi/dandischema/pull/91/checks?check_run_id=3778328101#step:12:5835), dandi-api (specifically, dandi-staging and Dockerized environments; not yet tested in production) occasionally fails to validate simple Dandisets containing only a few text files within the 20 seconds that dandi-cli waits for validity.

The following script can reproduce the error,

[2021-10-04 18:35] yarikoptic opened #741 "add icon with number of warnings/errors into dandisets listing"
ie a yellow "drives with x" followed by number, mimicing
![image](https://user-images.githubusercontent.com/39889/135905611-37a8ac7d-975f-49f7-9bc0-cae6ad5f252e.png)

which if not 0 to go after size in those listings
![image](https://user-images.githubusercontent.com/39889/135904970-c8770506-eba2-4073-a36f-841548ba4f6a.png)

For users it would provide some immediate feedback on either a dataset is

[2021-10-05 17:31] dchiquito commented on #548
I added a setting `DJANGO_DANDI_VALIDATION_JOB_INTERVAL` which sets how many seconds to wait between checks for validation jobs. In staging, this is set to 60 seconds, so it makes sense that you would see failures most of the time when running against staging.

I set that value in the dandi-cli docker-compose environment to 5 seconds in https://github.com/dandi/dandi-cli/pull/778, so this should n

[2021-10-05 18:17] dchiquito commented on #548
I've tried modifying the script to point to `dandi-api-local-docker-tests` and it's working for me, both against my normal `dandi-api` dev environment and the environment from `dandi-cli/dandi/tests/data/dandiarchive-docker`.

@jwodder have you reproduced this with a local dockerized environment, or just the pytest managed environment?

[2021-10-05 18:21] jwodder commented on #548
@dchiquito The second link in my OP points to a failure in a Docker environment experienced by the dandischema CI.  I seem to recall seeing this with dandi-cli tests, but I can't find any occurrences right now.  (However, the latest dandi-cli tests are occasionally failing at the same point with the message "Digest is missing dandi-etag or sha256 keys."  Not sure if that's a separate issue or not.

[2021-10-05 18:55] dchiquito commented on #548
I'm unable to reproduce the dandi-cli test failures with repeated `tox` runs.

Since the tests work most of the time, my guess is that the configuration "works", but sometimes gets overloaded with tasks when running in CI. To debug I would need a failure with the docker-compose logs from the fixture environment.

Potentially `wait_until_valid` could just wait longer and the task queue would drain

[2021-10-06 01:59] djarecka opened #553 "failing tests when run with django container: manifestLocation"
some tests from `dandiapi/api/tests/test_version.py` are failing when run with docker, i.e. `docker-compose run --rm django tox -e test dandiapi/api/tests/test_version.py`

Can paste entire error message, but I think all have issues with `mannifestLocation`:

[code]

[2021-10-06 17:55] yarikoptic commented on #548
@dchiquito what do you think should be a reasonable (should never happen) cut off to take instead of 20 seconds?  60?

[2021-10-06 18:01] dchiquito commented on #548
20 seconds is reasonable, and most of the time it works fine. When it does fail, it seems to fail all tests that check for validation, never just one or two. That seems to me like something is going wrong with the docker-compose set up, but I can't tell for sure without docker-compose logs. Maybe cranking it up to 60 will help, maybe not.

[2021-10-07 14:15] djarecka opened #555 "ERROR at setup"
I sometimes get the  error when running test in docker (`docker-compose run --rm django tox -e test dandiapi/api/tests/test_version.py -v`). Any idea why this might happen?

[code]

[2021-10-07 18:33] #542 closed

[2021-10-08 16:11] djarecka commented on #553
yes, this is pretty consistent for multiple tests:
[code]

[2021-10-11 13:21] jwodder opened #559 "Endpoints that return collections not 404'ing for nonexistent Dandisets"
Given an ID for a Dandiset that doesn't exist — say, 123456 — making a request to an API endpoint of that Dandiset that returns a collection of objects will return an empty collection instead of 404'ing.  This affects the following endpoints:

* https://api.dandiarchive.org/api/dandisets/123456/versions/
* https://api.dandiarchive.org/api/dandisets/123456/versions/draft/assets/
* https://api.dandi

[2021-10-11 16:28] dchiquito commented on #553
The difference is in the minio base URL: `http://minio:9000/...` vs. `http://localhost:9000/...`. When running in docker, docker-compose automatically registers a local domain for each container, so you would need to send Minio requests to `minio:9000`. When running natively, docker is not there to do this networking, so all the services are running on `localhost`.

[2021-10-11 18:36] dchiquito commented on #523
abandoned uploads: remove after expiry date of presigned url
orphaned blobs: remove after 1 day. this is the one i worry about for hackers to use to distribute other types of files.
orphaned assets: delete blob after 14 days (version remains), remove asset + blob completely after 30 days.

[2021-10-13 13:52] waxlamp opened #740 "Design UI to display job state"
When a job is running on a dandiset or its assets, there is currently no indication of the job status on the DLP. We need to design some sort of UI to show the user this status.

Bonus: a single dashboard showing all running jobs could also be useful (or perhaps not, since the admins have access to RabbitMQ dashboards, etc.; @dchiquito, thoughts?)

[2021-10-13 14:13] waxlamp opened #739 "Create a review mechanism for new dandisets/assets"
This would be for preventing illegal content from living in the archive, and for banning users who upload such content.

We may need language in the eventual terms of service about this.

[2021-10-13 22:43] jwodder opened #563 "Give dandisets_versions_assets_list query parameters for controlling the sort order"
Feature request: The `/dandisets/{versions__dandiset__pk}/versions/{versions__version}/assets/` endpoint should take one or more query parameters for controlling the order in which the assets are returned.  To borrow from the GitHub API, the parameters could be `sort=<field name>` and `direction=<"asc" or "desc">`.  Fields that users would likely want to sort on include "created", "modified", and

[2021-10-14 12:59] waxlamp commented on #563
Thanks @jwodder. What do you plan to do with this prospective feature?

[2021-10-14 13:02] waxlamp commented on #563
Right, I think it's a matter of what order the DB yields rows in. I think this is a reasonable feature to have so we'll look into it.

[2021-10-14 14:55] mvandenburgh opened #738 "E2E test overhaul to enable testing publish, file browser, etc"
At the moment we are unable to test some of the core features of our system in our E2E tests since dandi-cli is a prerequisite to uploading assets. There should be some way to put the database into a predetermined "testing" state that contains sample dandisets with assets that can be used in testing. See discussion in dandi/dandiarchive#861

[2021-10-14 15:31] mvandenburgh opened #564 "User signup questionnaire"
Issue to track implementation of #496.

[2021-10-15 14:02] dchiquito opened #565 "Add migrated version metadata endpoint"
Implement https://github.com/dandi/dandi-api/blob/master/doc/design/draft-metadata-migration.md

Add an endpoint `GET api/dandisets/{dandiset_pk}/versions/{version}/migrated/` that attempts to migrate the version metadata to the current schemaVersion. If the metadata is already at the current schemaVersion, nothing is done. If the migration fails for whatever reason, simply return the current meta

[2021-10-15 14:23] dchiquito opened #737 "Use new /migrated endpoint in the meditor"
See https://github.com/dandi/dandi-api/blob/master/doc/design/draft-metadata-migration.md

The meditor should use the new `GET api/dandisets/{dandiset_pk}/versions/{version}/migrated/` endpoint to ensure that saving the meditor always migrates the metadata.

Currently blocked on https://github.com/dandi/dandi-api/issues/565 to add the endpoint

[2021-10-15 14:45] dchiquito opened #566 "Zarr upload API"
As described in https://github.com/dandi/dandi-api/pull/552, implement the zarr upload API

[2021-10-15 17:02] jwodder opened #567 "dandi-cli tests occasionally failing to validate Dandisets with error "asset is currently being validated, please wait.""
Even after increasing the validation wait time to two minutes, we are still occasionally running into the error above.  Interestingly, when it does happen, it seems to happen for all ten publish-using tests in that CI run.

[Here](https://github.com/dandi/dandi-cli/runs/3908168939?check_suite_focus=true) is one such failed run, complete with Docker Compose logs.

[2021-10-18 19:17] jtomeck opened #736 "Find better place for file size and file count"
I understand the reason for moving these from where I had it in my designs, but I'd like to explore better options than where it's at now. I don't immediately know where that is, but I will provide some screens here when I figure it out.

[2021-10-18 19:23] jtomeck opened #735 "Improve logic for sections/items without data"
<img width="521" alt="Screen Shot 2021-10-18 at 3 19 56 PM" src="https://user-images.githubusercontent.com/1560779/137793602-1ccca5d2-46ff-4b60-9c88-490894556a16.png">

The solution I'm proposing is to either completely hide sections that don't have any data in them, or to give information as to why there is nothing to show. I'm not sure which is the better solution, but I'd like to get feedback f

[2021-10-18 20:19] dchiquito opened #569 "Custom announcement emails"
Right now the best way to contact all dandi users is to query the DB for user emails and send it manually from an email client. There should be an admin API feature that will send emails to everyone.

[2021-10-18 21:54] waxlamp opened #570 "Collect full names for nameless users"
This needs to be done after #564 is completed, since solving that issue will mean all new users come with names.

One way to accomplish this is to check for blank name fields for any existing user, and redirect them to a form that is similar to the questionnaire of #564, but that just asks for their name.

[2021-10-19 21:07] #553 closed

[2021-10-20 14:38] #563 closed

[2021-10-22 16:06] mvandenburgh opened #575 "Dashboard page that lists pending users"
https://github.com/dandi/dandi-api/pull/568#discussion_r734640814

[2021-10-22 16:09] mvandenburgh opened #576 "Send daily email that lists pending users"
https://github.com/dandi/dandi-api/pull/568#discussion_r734640814

Can be a celery beat task that checks for any pending users and sends an email that lists each user + the URL to approve them.

[2021-10-26 00:58] satra opened #580 "dandiset listing using aws cli"
any thoughts on why the extra files are being created?  looks like these may be versions. is this part of what the api server is doing, or we just happen to see versions that were left.

[code]

[2021-10-26 16:29] yarikoptic opened #581 "cleanup the history of "errorneously" created assets.json etc files on S3 bucket"
https://github.com/dandi/dandi-api/issues/537 was addressed by https://github.com/dandi/dandi-api/pull/538 but all those prior versions are still there:

[code]

saw them while checking out https://github.com/dandi/dandi-api/issues/580

[2021-10-26 19:48] yarikoptic opened #734 "add "Sort by:" Version"
I wanted to look at published dandisets.  One way for that is to sort by version so that published ones would precede the draft ones.  An alternative/complimentary is faceted search but that would be larger undertaking.

As a companion to dandi/dandiarchive#943 this issue possibly amplifies the need to RF UI to make "sorting column" ("Modified", "Identifier", "Name") not having a dedicated button

[2021-10-27 14:48] #580 closed, assigned to dchiquito

[2021-10-28 16:40] jwodder opened #583 "Add an API endpoint for listing the authenticated user's dandisets"

[2021-11-01 20:37] waxlamp opened #587 "Implement garbage collection"
See design doc (#560)

[2021-11-02 18:44] waxlamp opened #733 "Validation error notification needs padding when publish button is not shown"
e.g. see https://deploy-preview-949--gui-dandiarchive-org.netlify.app/#/dandiset/200004, and make sure you are logged out.

[2021-11-02 18:51] waxlamp opened #732 "Implement "Add files" DLP design"
[Figma](https://www.figma.com/file/rBobiAvSLCsJmyYUYmU1OX/DLP?node-id=504%3A33148)

[2021-11-02 18:55] waxlamp opened #731 "Finish DLP redesign implementation"
- [x] dandi/dandiarchive#951
- [x] dandi/dandiarchive#863
- [x] dandi/dandi-api#706
- [x] #732

[2021-11-03 20:42] satra opened #730 "save option should be greyed out when meditor is opened"
ux related to dandi/dandiarchive#954 , there is no reason for the save button to be active on load since no change has been made.

[2021-11-08 14:24] djarecka opened #729 "Fix design/placement for share icon"
Right now the share icon is in two places: next to the title and in the right panel.

@satra - we were discussing this on Thursday, but wasn't sure if you preferred to have in both places or only next to the title?

[2021-11-08 14:34] waxlamp opened #728 "Back button in meditor can lose user's work"
Open the meditor, and make an edit. Then, instead of clicking the orange save icon, click on the browser back button. Note that the user's work is now lost.

I can think of two solutions here:
1. Use the standard browser mechanism of making a user confirm leaving a page when there is unsaved work therein.
2. Continuously autosave the metadata without the need for a save button.

(1) seems easier i

[2021-11-08 14:38] mvandenburgh opened #592 "Automatically approve users with a .edu email"

[2021-11-08 23:24] waxlamp commented on #592
Will they still need to fill out the questionnaire? At the very least, we'll still want to collect their full name.

[2021-11-09 15:23] waxlamp opened #727 "Write a design doc for hosting the archive at dandiarchive.org"

[2021-11-10 17:19] mvandenburgh opened #596 "Restore `schemaKey` to dandisets missing it"
One-off operation to fix dandisets in production affected by https://github.com/dandi/dandiarchive/issues/954.

[2021-11-10 17:55] mvandenburgh opened #726 "Optimize schema loading in web app"
As of https://github.com/dandi/dandiarchive/pull/964, the web app waits for the schema to be fetched from github before rendering anything. This should be optimized so only the components that use the schema need to wait for it.

[2021-11-10 18:19] mvandenburgh commented on #596
Closed by #595

[2021-11-10 18:19] #596 closed

[2021-11-11 16:30] dchiquito opened #597 "Don't send emails in the request thread"
As it currently stands, we generally send emails directly from view methods. If something were to go wrong with the email sending, the API request would fail, even though the operation completed successfully. We should either delegate the sending of the email to a task or wrap the sending of the email in a try/catch to ensure it never disrupts the request.

[2021-11-11 18:11] dchiquito opened #598 "Add users list to dashboard"
@satra requested an easily accessible list of users available for inviting users to the dandi slack.
Add a list of all current users to the dashboard, sorted by join date descending, that can easily be copy/pasted.

[2021-11-11 18:44] waxlamp opened #600 "Use dandi account full name in user welcome email"
[This line](https://github.com/dandi/dandi-api/blob/2a0555a59fe55e41c9fdf49ad3aa765248f32154/dandiapi/api/mail.py#L55) exclusively uses the social account's name information to build the welcome email. Now that we have access to the user's name as reported in the questionnaire, we should use that name instead.

[2021-11-12 13:11] #598 closed

[2021-11-13 14:53] satra opened #725 "reduce pagination thumbs"
when a folder has a large number of files, it would be useful to reduce the number of pages displayed at the bottom:

![image](https://user-images.githubusercontent.com/184063/141648222-b57bea8b-ac06-44b5-8e8b-a2181ba61062.png)

[2021-11-13 14:54] satra opened #724 "enable asset search"
now that we have an asset model/endpoint and pagination, it may be nice to enable an asset search page based on asset metadata.

[2021-11-14 21:21] bendichter opened #723 "requesting ownership"
It would be nice if a dandiset had an option to request ownership.

[2021-11-15 15:08] dchiquito commented on #567
I did some digging on https://github.com/dandi/dandi-api/runs/4192443402?check_suite_focus=true, an instance of this bug. The pytest errors indicate that no validations ran at all for the duration of the test, so all the tests relying on validation failed:
[code]
However, the docker-compose logs indicate that celery worker was actively doing everything it should be doing. Here are some [logs](http

[2021-11-15 21:21] dchiquito opened #603 "test_user_search_limit_enforced failures"
https://github.com/dandi/dandi-api/runs/4206127724?check_suite_focus=true

[2021-11-16 00:05] yarikoptic opened #722 "minor: tune up spacing and/or placement for ORCID "reference" per each owner"
ATM it looks like (for https://gui-staging.dandiarchive.org/#/dandiset/200003 or https://gui.dandiarchive.org/#/dandiset/000003

![image](https://user-images.githubusercontent.com/39889/141871664-61682f9d-d7f7-480d-86de-ed0dec937861.png)

So first I thought that there is a bug and order of `;` and ORCID logo is swapped since I expected ORCID after a name, not before.

I partially expected it also

[2021-11-16 02:10] mvandenburgh opened #604 "Write a script to revoke logins for nameless users"
https://github.com/dandi/dandi-api/pull/590#pullrequestreview-797930747

Then, we can prompt them to enter their full name when they login again.

[2021-11-16 20:12] mvandenburgh opened #605 "Make DANDI admin email a Django setting"
See discussion at https://github.com/dandi/dandi-api/pull/594#issuecomment-969718985

The email address that admin-only messages are sent to should be a configurable Django setting instead of being hardcoded.

[2021-11-19 15:32] #603 closed

[2021-11-22 14:58] mvandenburgh opened #611 "Add asset import to `import_dandisets` management script"
The [`import_dandisets` management command](https://github.com/dandi/dandi-api/blob/master/dandiapi/api/management/commands/import_dandisets.py) should support copying assets from another deployment via the rest api. The user should have the option to import only `Asset` records (i.e. without the actual file data in S3/MinIO) to avoid having to download terabytes of data just to view a large dandi

[2021-11-23 01:38] yarikoptic opened #612 "are staging "new user registration to review" addresses "correct"?"
We were just pinged by @vikramvijayan that his account was not activated on staging server.  I see two pairs of emails for his registration

[code]
with the `5` looking like the one for staging (note different subject -- didn't check git history which one is "newer").   But URL in all of the emails points to https://api.dandiarchive.org/ and not staging.

[2021-11-23 15:01] mvandenburgh commented on #612
Ah yes those emails have https://api.dandiarchive.org hardcoded  in them. I guess it is time to implement #286.

[2021-11-24 14:40] yarikoptic commented on #612
yes, please.

[2021-11-24 15:21] waxlamp commented on #612
https://github.com/dandi/dandi-api/pull/613 will fix this, but that in turn requires a review for https://github.com/dandi/dandischema/pull/98 along with some operations stuff (new schema release, etc.).

[2021-11-24 15:39] satra commented on #612
we cannot do a full split at this point as i noted in dandi/dandischema#98, so we either do the full decoupling, or a temporary fix as needed to address the current issue.

 full decoupling will require:
 - instance specific prefix support (DANDI has a very specific meaning and maps on in specific places in the model) support in API and CLI
 - doi prefix (we are currently using prod/test datacite

[2021-11-24 15:41] satra commented on #612
and we need to understand if staging and production are truly to separate instances or we are talking paired decoupling. i.e. any site should be able to spin up the pair.

[2021-11-26 23:55] rozmar opened #721 "Keywords are redundant between NWB files and the DANDIset"
Just an idea: dandiarchive could extract the unique keywords from the NWB files instead of requiring the uploader to specify them. My understanding is that this is not a feature yet. Giving additional keywords for the dandiset is useful though.

[2021-11-29 19:28] #570 closed

[2021-11-29 21:48] #576 closed

[2021-12-02 18:38] mvandenburgh opened #617 "Daily "pending users" email still goes out even if no users are pending"
![Screenshot from 2021-12-02 13-37-43](https://user-images.githubusercontent.com/37340715/144482728-885ee3a4-5ff8-44be-b06d-86df1174ec0b.png)

[2021-12-03 17:56] mvandenburgh opened #720 "Type-check Vue templates"
Any TS code inside a template is not being type-checked currently. For example, if we had an SFC like this:
[code]

And the `Version` type didn't have a `metadata` field, the typescript compiler wouldn't catch it at compile time, and there would instead be a console error at run time.

There are ways to perform type checking in templates based on Vetur's VTI cli tool, such as https://www.npmjs.com

[2021-12-06 16:10] mvandenburgh opened #719 "Add "Delete Dandiset" button to DLP"
For now, only dandisets with no published versions should be deletable.

There should be some sort of verification popup here considering the potential size of the data being deleted (maybe require them to enter the name of the dandiset?).

[2021-12-06 18:54] mvandenburgh commented on #617
Closed by #618

[2021-12-06 18:54] #617 closed

[2021-12-06 22:43] mvandenburgh opened #718 "Button for assets summary search"
Add an icon/link to each `assetsSummary` field on the DLP that will perform a dandiset search using the value of the field as the search keyword.

[2021-12-08 22:23] #286 closed

[2021-12-08 22:23] #612 closed

[2021-12-13 15:14] mvandenburgh opened #624 "User questionnaire page returns 500 if no query params are given"
To reproduce, login at https://gui.dandiarchive.org and go to https://api.dandiarchive.org/api/users/questionnaire-form/.

This is happening because that page expects a JSON string containing the questionnaire questions to be given as a query parameter. The fix is to either display an empty form or return a 400 error when this happens.

[2021-12-13 21:37] dchiquito opened #625 "Track embargo bucket in Terraform"

[2021-12-13 22:20] waxlamp opened #626 "Provide deterministic ordering for all list-based endpoints"
We've run into this a couple of times now, but the stock Django behavior for list-based endpoints seems to have undefined order. Once in a while, tests fail because things come back in the wrong order. This is bad on its own but also complicates testing for completely unrelated features when these tests occasionally fail. The solution is to enforce our own default order on all query sets.

[2021-12-15 14:42] waxlamp opened #627 "Detect "gaps" in dandiset ID increment"
Between [72](https://gui.dandiarchive.org/#/dandiset/000072) and [105](https://gui.dandiarchive.org/#/dandiset/000105) and again between [173](https://gui.dandiarchive.org/#/dandiset/000173) and [206](https://gui.dandiarchive.org/#/dandiset/000206), the intervening dandiset IDs are "missing" (i.e., no record of any dandisets created with those IDs). In both cases, the interval is 23, which seems l

[2021-12-15 16:27] #575 closed

[2021-12-15 16:59] waxlamp opened #628 "Require dandiset parameter for asset upload endpoint"
_Originally posted by @satra in https://github.com/dandi/dandi-api/pull/619#r766782896_

[2021-12-15 17:41] mvandenburgh opened #717 "Create test for dandiset id increment bug"
This would be an e2e test that creates a bunch of dandisets through the web ui while checking that identifiers are being assigned correctly.

[2021-12-15 21:55] #566 closed

[2021-12-15 23:41] yarikoptic commented on #61
@dchiquito , getting back to logs -- can we still identify who uploaded a blob X (e.g. `284eb346-0bc5-42a6-9b33-268e6b0b0bde` just for an exercise, just a random blob) and what other blobs that particular person uploaded?

I still think that we should introduce some logging and/or better accounting for who did what. Related elderly issue -- associate each blob with the (original) uploader/user: ht

[2021-12-16 02:19] yarikoptic opened #630 "users_search_list - searches all fields? (not eg. just name and login)"
just got surprised that whenever I decided to be greedy and search for `a` user, I got also

[code]
who are lucky two (there could be more) who have no `a` in username or name... there is only an `a` in APPROVED, but I wonder if that field should even be searched

PS do we have a way (for admins) to list all users?

[2021-12-16 02:28] satra commented on #630
the admin dashboard

[2021-12-16 02:37] yarikoptic commented on #630
You mean Django one with lots of knobs to screw things up? Yeah, I know that one :-)

[2021-12-16 03:42] satra commented on #630
not the django one, the one that daniel built and most recently mike augmented for listing users based on status.

[2021-12-16 14:02] dchiquito commented on #61
I don't think we currently have the facilities to easily identify who uploaded a blob.
We could improve our logging output to include the user who initiated a request. This would be generally useful information to have, although GDPR/CCPA might not allow it.
We could also do as recommended in #333, probably wouldn't be that difficult.

[2021-12-16 14:16] satra commented on #61
perhaps once #628 is implemented it will narrow things down to a group of users, which could be starting point. but i agree that audit tracking needs to be in place. we don't need to use usernames, we can have internal ids be used. we are already logging IP addresses.

i would start with #628 for now and then make audit tracking the next major feature to tackle after embargo is done.

[2021-12-16 15:24] jwodder opened #631 "JSON objects in zarr checksums should have "md5" before "path""
[The zarr docs](https://github.com/dandi/dandi-api/blob/master/doc/design/zarr-support-3.md#checksum-file-format) currently give the first step for checksumming directories as:

This implies that the checksum format requires the `"path"` field to come before the `"md5"` field, which I doubt is easy to ensure in all major programming languages.  The checksum format should instead require the fields

[2021-12-16 15:34] waxlamp opened #715 "Update DLP to display embargoed dandisets properly"
Add UI for displaying embargo state and for unembargoing ("releasing").

[design doc](https://github.com/dandi/dandi-api/blob/96c85ca5b3c1932b450cb00d4c375f0a176e2261/doc/design/embargo-mvp.md?plain=1#L14-L17)

[2021-12-16 15:38] waxlamp opened #632 "Modify search and listing endpoints to protect embargoed dandisets"
Embargoed dandisets should only be visible to their owners, and to admins.

[design doc](https://github.com/dandi/dandi-api/blob/96c85ca5b3c1932b450cb00d4c375f0a176e2261/doc/design/embargo-mvp.md?plain=1#L19)

[2021-12-16 15:43] waxlamp opened #716 "Update listings views to show embargoed status"
Show `embargoed` chip in UI.

[design doc](https://github.com/dandi/dandi-api/blob/96c85ca5b3c1932b450cb00d4c375f0a176e2261/doc/design/embargo-mvp.md?plain=1#L20-L21)

[2021-12-16 15:53] waxlamp opened #633 "Implement workflow to create embargoed dandiset"
This will likely be an adaptation of the existing creation workflow, accounting for the differences in storage location and structure for embargoed data.

design doc: [1](https://github.com/dandi/dandi-api/blob/96c85ca5b3c1932b450cb00d4c375f0a176e2261/doc/design/embargo-mvp.md?plain=1#L32-L48) and [2](https://github.com/dandi/dandi-api/blob/96c85ca5b3c1932b450cb00d4c375f0a176e2261/doc/design/embar

[2021-12-16 15:54] waxlamp opened #634 "Update models to implement embargoed dandiset concept"
[design doc](https://github.com/dandi/dandi-api/blob/96c85ca5b3c1932b450cb00d4c375f0a176e2261/doc/design/embargo-mvp.md?plain=1#L53-L78)

[2021-12-16 15:55] waxlamp opened #635 "Update API endpoints to account for embargoed dandisets"
design doc: [1](https://github.com/dandi/dandi-api/blob/96c85ca5b3c1932b450cb00d4c375f0a176e2261/doc/design/embargo-mvp.md?plain=1#L81-L109) and [2](https://github.com/dandi/dandi-api/blob/96c85ca5b3c1932b450cb00d4c375f0a176e2261/doc/design/embargo-mvp.md?plain=1#L122-L140)

[2021-12-16 15:58] waxlamp opened #714 "Update stats view to show embargoed data"
[design doc](https://github.com/dandi/dandi-api/blob/96c85ca5b3c1932b450cb00d4c375f0a176e2261/doc/design/embargo-mvp.md?plain=1#L144-L146)

[2021-12-16 16:42] yarikoptic commented on #61
@satra :

only some times, since users could be removed from a dandiset and we do not keep track of addition/removal of users. Thus malicious user could upload, be removed, and we would be left without information on which other blobs to sensor.

@dchiquito  :
Not yet sure how addition of user internally (!) to DB for a blob (#333) would interfere with GDPR/CCPA.  We might indeed need to state it

[2021-12-16 16:47] satra commented on #61
then that malicious user would need a partner in crime. a user cannot remove themselves from a dandiset if they are the only user. thus at the dandiset level there is still some social structure of connected and approved users.

[2021-12-16 17:26] yarikoptic commented on #631
@jwodder I am a bit confused -- why order should matter at all? isn't it a json dict records which should first be read in full to access their entries, and thus order must not matter.

[2021-12-16 17:28] jwodder commented on #631
@yarikoptic The checksum is calculated by taking the MD5 hash of the final JSON structure, so field order is *very* important.

[2021-12-16 18:10] waxlamp commented on #631
[`json.dumps()`](https://docs.python.org/3/library/json.html#json.dumps) has a `sort_keys` parameter that would help to solve this problem.

[2021-12-16 18:12] jwodder commented on #631
@waxlamp Solve what problem?  The problem here is that the checksum is required to be generated in an order that *isn't* sorted when every reasonable JSON library already has a `sort_keys` option.

[2021-12-16 18:30] waxlamp commented on #631
You'll notice I added `bug` and `design-doc` tags to this issue--the problem is solved by changing the text of the design doc along the lines you've already suggested, and updating our own code/plans to make use of the `sort_keys` parameter.

[2021-12-16 18:44] yarikoptic commented on #631
gotcha... I wonder if we should get away from "MD5 hash of the final JSON string" to "MD5 hash of the concatenated serialization of `path` and `md5` fields of the record".  This way we
1. also explicitly state the order
2. do not depend on any formatting
3. could potentially later expand the record with some other useful fields happen we decide to do so (e.g. `size`, `mtime` whatnot)

[2021-12-16 20:46] yarikoptic commented on #627
FWIW, our "datalad"ification script had been run quite regularly in the past days. In that script we do not remove deleted datasets, so if at some point any dataset between 173 and 206 was created we would have likely created one.  But nope -- we have no datasets between those two.

[2021-12-16 20:56] yarikoptic commented on #627
Although does not "fit" the consistency of having 206, since we do allow admins to create dandisets with a specific identifier -- may be some admin level dandi folk created 000206 for someone with that specific identifier? (relates to #61 ;-) )

[2021-12-16 21:12] yarikoptic commented on #61
indeed.  Should be enough generally.  For a big group/consortia which accepted some external collaborator who promised cool contribution, could become a problem.  But indeed probably unlikely and we should be able to identify by a dandiset

[2021-12-16 21:13] yarikoptic commented on #627
for clarity: are we relying on django's auto id increment (which I think what it is) or do we have some logic at any level?
curious: if we create, delete, and again create a dandiset -- will both have the same id? (as an `id` of the first one was "put back in the pool" when deleting)

[2021-12-17 15:31] dchiquito commented on #631
I think that using a JSON string is a perfectly valid way to serialize the `path` and `md5` fields. We do not necessarily need to store exactly that JSON object in the `.checksum` file, so we can still include extra data and just require that it be pared down and reserialized to generate the checksum.

[2021-12-17 15:32] dchiquito commented on #631
My vote would be to swap the order in the design doc as suggested so it goes `{"md5":"...","path":"..."}`, and fix the implementation as well now while we are still not storing any data.

[2021-12-17 19:01] dchiquito commented on #627
We use Django's default ID fields, which use a postgres sequence to autoincrement.

One possibility is that an admin uploaded a dandiset with an identifier already specified; we still have that feature that allows admins to upload to a specific dandiset for migration purposes.

[2021-12-17 19:18] mvandenburgh opened #638 "Make DRF permission classes opt-out instead of opt-in"
We're currently using custom [DRF permission classes](https://github.com/dandi/dandi-api/blob/master/dandiapi/api/permissions.py) to ensure that only approved users have access to write-enabled endpoints. These must be manually added to the endpoints' viewsets for them to take effect.

There are some risks/potential security vulnerabilities that could come up with this:
1) There is now added overh

[2021-12-17 19:48] waxlamp commented on #638
Would this approach help with "third party libraries that contain viewsets that write to our database"?

[2021-12-17 19:51] mvandenburgh commented on #638
Apparently it does not :frowning_face: https://www.django-rest-framework.org/api-guide/permissions/#setting-the-permission-policy (see **Note** under the `@api_view` example).

[2021-12-20 14:42] #631 closed

[2021-12-20 21:37] #624 closed

[2021-12-21 13:48] bendichter opened #713 "user-friendly author validation error message"
The majority of our users are not familiar with regex.

Would it be possible to replace "contributor: string does not match regex ..." with "contributor: Jie Zheng does not follow format "Last Name, First Name"

![image](https://user-images.githubusercontent.com/844306/146940295-377ba233-e64e-42da-ad5b-ac3c0e9496fe.png)

[2021-12-21 15:16] dchiquito opened #642 "Add zarr embargo models"
See https://github.com/dandi/dandi-api/issues/634

Normal asset embargo models have already been added, but the same needs to be done for `ZarrArchive` and `ZarrUploadFile`.

[2021-12-21 15:51] mvandenburgh commented on #433
This was resolved in #464.

[2021-12-21 15:51] #433 closed

[2021-12-21 21:55] dchiquito opened #644 "Implement embargoed asset upload"
https://github.com/dandi/dandi-api/blob/65dc262ea565d03b089cd435c8a0d912638a95ae/doc/design/embargo-mvp.md?plain=1#L137-L155

  If specified, it will be passed to the `Upload` object.
  This will mean the final upload will result in an `EmbargoedAssetBlob`.

  This means that an embargoed dandiset can contain both embargoed and unembargoed assets.

  This is to keep the permission model clean for

[2021-12-21 21:57] dchiquito opened #645 "Implement embargo option for creating dandisets"
https://github.com/dandi/dandi-api/blob/65dc262ea565d03b089cd435c8a0d912638a95ae/doc/design/embargo-mvp.md?plain=1#L96-L101

  If `embargo` is present (` POST .../dandisets/?embargo`), the `access` metadata field will be set to `EmbargoedAccess`.
  The `embargo_status` of the dandiset will also be set to `EMBARGOED`.
  The expectation is that the web UI will have requested an award number from the

[2021-12-23 15:28] satra opened #712 "update share link for published dandisets"
the share link should also show the doi for published dandisets.

[2021-12-23 17:33] dchiquito opened #648 "Document zarr delete in swagger"

[2021-12-23 18:07] dchiquito commented on #648
Fixed by #649

[2021-12-23 18:07] #648 closed

[2021-12-27 21:49] #625 closed

[2021-12-28 20:18] waxlamp commented on #360
Closing in favor of #652.

[2021-12-29 20:52] waxlamp opened #711 "Update AIBS dandisets' license fields"
_Originally posted by @satra in https://github.com/dandi/dandiarchive/issues/858#issuecomment-1002669465_:

[2021-12-29 23:17] waxlamp commented on #61
I don't think an audit trail feature is a bad idea, and while I'm not an expert, I think complying with GDPR/CCPA is about as straightforward as a reporting mechanism that captures all audit trail events related to a user (to grant the right to access), and a scrubbing mechanism that erases the user's identity from those log entries (to grant the right to be forgotten). The problem for us is stora

[2021-12-29 23:24] waxlamp commented on #66
We have a good proposed solution to this issue (to use 308 in place of 301). My question is, do we want to actually execute it? Thoughts, @dchiquito, @brianhelba, @yarikoptic?

My own thoughts are that we should just close this issue as `wontfix`. I agree it's annoying to receive a cryptic error condition due to non-GET requests not porting their request bodies to the redirect target, but that is

[2021-12-29 23:26] waxlamp commented on #71
@yarikoptic ^^^

[2021-12-29 23:28] waxlamp commented on #78
@yarikoptic, @dchiquito: what's the status of this issue? I propose we either perform the experiment (upload a 1 million file dandiset), capture any issues that result, and then close this issue, or close this issue without doing that.

[2021-12-29 23:30] waxlamp commented on #133
I think the underlying cause of this issue has since been resolved, but re-open if not.

[2021-12-29 23:30] #133 closed

[2021-12-29 23:32] waxlamp commented on #147
Is this still valid, @satra? We are now operating with two S3 buckets, and our infrastructure has absorbed that change in operating conditions.

[2021-12-30 02:54] satra commented on #147
possibly. i would say this is similar to the issue that we may need to target different buckets for different needs. i don't think this has been generalized, but for the moment it would be low priority or orphaned.

[2021-12-30 15:37] waxlamp commented on #158
I'm going to close this in favor of the in-flight embargo-related issues that are currently being worked on. All of the concepts listed here have been addressed in the design process. Thanks for kicking this off, Yarik!

[2021-12-30 15:37] #158 closed

[2021-12-30 15:43] waxlamp commented on #587
Closing as a dupe of #177.

[2021-12-30 15:43] #587 closed

[2021-12-30 15:44] waxlamp commented on #177
Design doc is at #560.

[2021-12-30 15:47] waxlamp commented on #185
@dchiquito, is this still a problem? Is the fix to move this computation into a celery task?

[2021-12-30 15:49] waxlamp commented on #213
@dchiquito ^^^

[2021-12-30 18:26] mvandenburgh opened #653 "Admin dashboard: Display the number of API keys being used to upload data"
https://github.com/dandi/dandi-api/issues/263#issuecomment-834711059

[2021-12-30 18:28] mvandenburgh opened #654 "Admin dashboard: add access stats"
https://github.com/dandi/dandi-api/issues/263#issuecomment-834711059

Access stats such as geolocations, bytes downloaded/uploaded, and # of posts should be recorded and displayed in the admin dashboard.

[2021-12-30 18:30] mvandenburgh opened #655 "New service to monitor status of DANDI services"
This should be a separate heartbeat monitoring system. The data from it could be displayed somewhere in the admin dashboard.

Derived from comment https://github.com/dandi/dandi-api/issues/263#issuecomment-834711059

[2021-12-30 18:32] mvandenburgh commented on #263
Closing in favor of #653, #654, #655.

[2021-12-30 18:32] #263 closed

[2021-12-30 18:47] waxlamp commented on #266
I think this is already the case. The endpoints that support pagination have pagination arguments listed, and the response schema shows `count`, `previous`, and `next` properties. If you're looking for something beyond those, please re-open and let's discuss.

[2021-12-30 18:47] #266 closed

[2021-12-30 18:52] waxlamp commented on #297
@dchiquito, is this still valid?

[2021-12-30 19:28] waxlamp commented on #310
Can this be closed?

j/k, j/k, I'm closing it.

[2021-12-30 19:28] #310 closed

[2021-12-30 23:03] waxlamp commented on #332
This is done.

[2021-12-30 23:03] #332 closed

[2021-12-30 23:07] waxlamp commented on #336
I think with advances in the schema and other stuff around it, this is now non-actionable. I haven't seen this pop up in recent memory in any case, and the linked Sentry issue is no longer there. Closing.

[2021-12-30 23:07] #336 closed

[2021-12-30 23:09] waxlamp commented on #347
I think this has been solved; someone re-open if it's still valid.

[2021-12-30 23:09] #347 closed

[2021-12-30 23:14] waxlamp commented on #352
I think maybe this is solved? When someone creates a dandiset, their full name is added as the contact person. If I understand the discussion here, there's not a need to move any functionality to dandischema. Can you confirm/clarify, @satra?

[2021-12-30 23:16] #360 closed

[2021-12-30 23:17] waxlamp commented on #385
@dchiquito, is this issue now moot?

[2021-12-31 16:47] waxlamp commented on #391
@dchiquito, what's the status on this issue?

[2021-12-31 16:49] waxlamp commented on #392
@dchiquito, @yarikoptic: what's the status on this?

[2021-12-31 16:50] waxlamp commented on #396
@satra ^^^

[2021-12-31 17:15] waxlamp commented on #407
@dchiquito what's the status on this?

[2021-12-31 17:24] waxlamp commented on #415
Yes, it only returns users that have status `APPROVED` and have `is_active` set to true.

There's a banner that says to wait for two business days for approval, and it lists `help@dandiarchive.org` as a contact email.

I'll close this issue, but please continue discussion as needed.

[2021-12-31 17:24] #415 closed

[2021-12-31 17:26] satra commented on #396
this is now available. for example: https://api-staging.dandiarchive.org/api/dandisets/100978/versions/draft/assets/7ddc2ff6-16c5-4ede-a769-68cf03d18cb7/validation/

[2021-12-31 17:26] #396 closed

[2021-12-31 17:37] waxlamp opened #661 "Tighten user search endpoint"
Right now, the user search endpoint looks at all "extra data" in the user record for a match. This means anyone whose bio lists, e.g., "electronics" will provide a hit for the name `roni`.

This was a stopgap measure to help find users when we didn't consistently store their names. Instead, we should target the search to just the name, GitHub username, and email addresses.

[2021-12-31 18:51] waxlamp commented on #422
I think this has been answered; plans for a fix can continue in #444.

[2021-12-31 18:51] #422 closed

[2021-12-31 21:31] waxlamp commented on #427
I agree. I just tried to trigger a 404 error in the web app, and I don't see anything posted to Sentry, so I think at some point we must have improved this situation.

I'm going to close; let's reopen if this persists.

On a larger note, I still have it on my radar to figure out best practices for Sentry in general. We are not really using it as well as we should.

[2021-12-31 21:31] #427 closed

[2021-12-31 21:35] waxlamp commented on #431
I think this has been solved--we now schedule validation tasks to run on the minute, which means this should no longer be a problem. Re-open if I have that wrong.

[2021-12-31 21:35] #431 closed

[2021-12-31 22:34] waxlamp commented on #437
With the specification of allowed schema versions in dandischema's validation routines, I think this may be solved. Re-open otherwise.

[2021-12-31 22:34] #437 closed

[2021-12-31 22:35] waxlamp commented on #441
@dchiquito, is this still a problem?

If so, can we do something simple like require a mutex be obtained before uploading the blob?

[2021-12-31 22:38] waxlamp commented on #445
@satra, is this still valid? I think our draft dandisets are already findable--in fact, too findable such that we moved to restrict empty dandisets from display in the portal by default.

[2021-12-31 22:39] waxlamp commented on #446
Well, we do now collect names from all users, so I think this can be closed.

[2021-12-31 22:44] waxlamp commented on #458
To me, it's a question of whether we should be using `TimeStampedModel` for these. It seems useful to have a modified time that is generic in that way that extension provides for, and then perhaps we should have more of a semantic modification field that tracks DANDI-specific actions. Or we could dump `TimeStampedModel` and just roll in our own semantic logic for tracking the mod time.

Thoughts,

[2021-12-31 22:54] waxlamp commented on #461
We probably need some more discussion on this. Re-reading this thread, I'm still not super clear on what problem this is trying to solve, nor where this leaves all the stickier concepts around the semantics of licensing assets and dandisets together.

[2021-12-31 22:56] waxlamp commented on #465
What is the meaning of `startDate` and `endDate` in context? If it's supposed to track how long the publish step took, why store it as metadata rather than as some sort of internal diagnostic data? (attn: @dchiquito)

[2021-12-31 22:59] waxlamp commented on #466
I'm not able to reproduce. I assume this has been fixed since; additionally, this may become moot with the DLP redesign work that's going on now. I'll close, but please re-open if you can demonstrate the problem on a different dandiset or with a different repro.

[2021-12-31 22:59] #466 closed

[2021-12-31 23:15] satra commented on #445
1 has been implemented for draft dandisets on the bucket. 2 would be nice to consider, but may require some fundamental changes given our doi scheme. closing for now.

[2021-12-31 23:15] #445 closed

[2021-12-31 23:38] waxlamp commented on #495
I believe this can be closed. In dev, we can set names directly through the admin console; in prod, we are now collecting names from people for use in the UI, communications, contact person records, etc.

[2021-12-31 23:38] #495 closed

[2021-12-31 23:45] waxlamp commented on #509
@dchiquito, why can't you just set it to `[]`?

[2021-12-31 23:51] waxlamp commented on #515
I found this page that has some good information: https://aws.amazon.com/premiumsupport/knowledge-center/move-objects-s3-bucket/

The work proposed in this issue will come up naturally in implementing the unembargo workflow. As such, I'd like to close this issue.

[2021-12-31 23:51] #515 closed

[2021-12-31 23:56] waxlamp commented on #536
(@satra, I'm just flagging this issue since you have heard back from legal about it.)

[2022-01-01 00:02] waxlamp commented on #548
@dchiquito, @jwodder: is this bug still manifesting?

[2022-01-01 00:04] waxlamp commented on #564
This is done, right @mvandenburgh? I'm closing because I think it is; re-open if we missed anything.

[2022-01-01 00:04] #564 closed

[2022-01-01 00:07] waxlamp commented on #567
@dchiquito, @jwodder: status of this issue?

[2022-01-01 00:15] waxlamp commented on #583
@dchiquito, could you weigh in on that TODO? The `user=me` mode seems fine to me.

I'm going to close this, @jwodder, but please re-open if the solution discussed upthread isn't sufficient.

[2022-01-01 00:15] #583 closed

[2022-01-01 00:21] waxlamp commented on #597
Delegating to a celery task feels too heavy. Wrapping in try/catch and sending errors to Sentry (but letting the request succeed) would be a good approach.

[2022-01-03 13:42] jwodder commented on #567
The error still occasionally occurs, most recently for [this CI run](https://github.com/dandi/dandi-cli/runs/4656123797?check_suite_focus=true).

[2022-01-03 14:41] waxlamp commented on #661
This may be a dupe of #630 but I'm not sure so leaving both open.

[2022-01-03 14:55] waxlamp commented on #638
Even if this doesn't solve that third-party problem, is it still valuable to solve as-is?

[2022-01-03 15:12] mvandenburgh commented on #638
Yes, it's a simple fix that will provide a lot of value.

[2022-01-03 17:28] mvandenburgh opened #710 "Add "show more" functionality to DLP metadata cards"
Chiming in pretty late on this, but I think if there's a lot of data in each box, we could set a sane maximum to show, with text afterwards saying `XX more entries | link: show more / less` or something like that. Obviously it would be show more until clicking, then it would say show less.

_Originally posted by @jtomeck in https://github.com/dandi/dandiarchive/issues/949#issuecomment-1003392770_

[2022-01-03 17:47] yarikoptic opened #709 "update copyright and "cut a release"?"
ATM we have at the bottom of the page

© 2021 DANDI
version 0.1.0-923-g35c5e3a

With the New Year and a new DLP deployed, I think it would make perfect sense to boost version and update copyright. WDYT?

[2022-01-03 18:15] mvandenburgh opened #708 "Finish typescript conversions"
This supersedes dandi/dandiarchive#855 by outlining specifically what is left in terms of converting the existing codebase to typescript.

- [x] Convert file browser component to typescript #882
- [x] Convert "utility" js files (`router.js`, `migrate.js`, etc) to typescript (#1009)
~~- [ ] Enable type checking in vue templates (#987)~~
~~This is blocked on converting the file browser component~~ m

[2022-01-03 20:52] satra opened #707 "a few (missing) pieces in new DLP"
- [ ] in this issue dandi/dandiarchive#876 we made sure that funding information was given additional preference, and if not present it showed as "No funding information available". this was to gently remind users that they weren't putting funding contributions in. the section that displays funding, it should be displayed with "No funding information available". https://github.com/dandi/dandi-arch

[2022-01-03 21:01] dchiquito commented on #66
Quoting Brian from https://github.com/girder/django-composed-configuration/issues/113:

I think fixing this upstream would be the best solution.

[2022-01-03 22:03] mvandenburgh opened #706 "Implement redesigned meditor"
Issue to track implementation of the redesigned meditor.

[2022-01-03 22:29] waxlamp opened #705 "Enable asset upload"
We need a way to upload assets from the web app, since most intended users of the archive will expect to be able to do that.

See https://github.com/dandi/dandiarchive/issues/380#issuecomment-1002175381.

[2022-01-03 22:30] waxlamp opened #704 "Add "file browser" functionality to asset browser"
Including:
- [ ] select
- [x] delete
- [x] download
- [ ] upload? (see dandi/dandiarchive#1014)
- [ ] search

See https://github.com/dandi/dandiarchive/issues/380#issuecomment-1002175381.

[2022-01-03 22:41] waxlamp opened #703 "Enable dandiset owners to schedule and broadcast webinars"
(The following was originally from @yarikoptic in dandi/dandiarchive#414)
- dandiset owners should be able to schedule webinars to present dandisets to the public
- "watchers" of the dandiset would receive a notification about the webinar being scheduled
- Jitsi is providing an ultimate platform - even without our dedicated deployment (although it might be needed in case of too popular webinars wh

[2022-01-03 23:18] yarikoptic opened #702 "Provide UX for seeing/searching/reporting issues for each dandiset"
Replacement for neurostars oriented dandi/dandiarchive#584 , a bit more generic

On openneuro a somewhat similar mechanism exists via `Comments` section on each dataset, see e.g. https://openneuro.org/datasets/ds000113/versions/1.3.0 .  I guess ideally any reported issue should have some qualifier which would distinguish between the target audience which would receive notifications

- public -- co

[2022-01-03 23:20] waxlamp commented on #66
In that case, closing this in favor of https://github.com/girder/django-composed-configuration/issues/113.

[2022-01-03 23:20] #66 closed

[2022-01-03 23:26] waxlamp commented on #147
I think my position is that it *has* been generalized, in the sense that when a new function is needed for which a new bucket needs to be in the system, we add that bucket through Terraform, and then identify that bucket in our code with environment variables, and make use of it through new logic, etc.

From the issue title, it sounds like you want a fully general mechanism for adding more buckets

[2022-01-04 00:14] satra commented on #147
i'll close this for now.

[2022-01-04 00:14] #147 closed

[2022-01-04 14:47] dchiquito commented on #185
Our options are:
* Ignore the problem. In ideal circumstances it's possible for the request to finish, so if it ever happens again we can just tell the users to try again later.
* Optimize the current implementation. My hopes aren't high, but maybe there's something we can do to improve performance so this doesn't happen as often.
* Paginate. Right now all presigned URLs must be returned at once.

[2022-01-04 14:49] dchiquito commented on #213
This was fixed back in https://github.com/dandi/dandi-infrastructure/commit/c5e18cbcff3210990f43bec762f7759a1f598be8

[2022-01-04 14:49] #213 closed

[2022-01-04 14:58] waxlamp opened #701 "Create a testing dandiset with a lot of metadata / metadata variation"
@satra wrote:

(original discussion in https://github.com/dandi/dandiarchive/issues/1012#issue-1092810649)

[2022-01-04 15:10] waxlamp commented on #185
If the problem hasn't cropped up since then, I'm ok with this being our solution at least for the moment.

This sounds like the correct solution. What would be involved with figuring out how to get a "middle" URL?

Roger.

[2022-01-04 15:14] mvandenburgh commented on #539
This was closed in error #658

[2022-01-04 15:22] dchiquito commented on #297
I think it is, yes. Low impact though

[2022-01-04 15:31] dchiquito commented on #385
Yep, debouncing was achieved by updating summaries in a task that runs every minute.

[2022-01-04 15:31] #385 closed

[2022-01-04 15:33] dchiquito commented on #391
I can see this being useful as way to quickly flush the asset summary queue when running tests. Right now the test has to wait at max 60s for the job to run, which is never a nice thing to do in a test.
This would be a nice optimization for the CLI tests, but it is a non-blocker.

[2022-01-04 15:38] dchiquito commented on #392
This is a nice aspiration. We basically have two identifiers for blobs, the ETag (based on the content) and the blob_id (a UUID). ETags are a more useful identifier for clients, since a client can take a blob, compute the ETag for it, then use that ETag with our API to refer to a blob that has already been uploaded.

Implementing this in some form would make for a cleaner API, but our current API

[2022-01-04 15:40] dchiquito commented on #407
This no longer applies. This was before we were using the scheduled job to compute asset summaries, so marking assets as `PENDING` wasn't strictly required. That is now how assets are queued for updates, so this has implicitly already been done.

[2022-01-04 15:40] #407 closed

[2022-01-04 15:42] dchiquito commented on #465
@satra

[2022-01-04 15:46] dchiquito commented on #583
I think the `user=me` solution is reasonable, I was aiming the TODO at the way `get_queryset` was using the request method/query parameters to do filtering. It seems a little questionable to me, but I have yet to find a better way to do it.

[2022-01-04 15:48] dchiquito commented on #391
It's possible it might resolve the flaky test issues we've been seeing with asset summary validation https://github.com/dandi/dandi-api/issues/567#issuecomment-1004100984
Perhaps it's worth looking at sooner rather than later.

[2022-01-04 15:57] dchiquito commented on #185
django-s3-file-field has [this method](https://github.com/girder/django-s3-file-field/blob/8df950a35d034b42fedac08ebdc1464e4fe7d798/s3_file_field/_multipart.py#L64-L84) that we use for generating upload URLs. We would need to reimplement that to take some kind of pagination keys (probably part index and number of part URLs to generate), then only generate the urls in that range.
This should be a n

[2022-01-04 16:03] satra commented on #465
yes for any activity it takes some finite period of time. so the provenance would capture start and end of that activity/task.

[2022-01-04 16:18] dchiquito commented on #441
I think a try/catch to suppress the sentry error and return a useful error message to the client would be more appropriate.

[2022-01-04 16:26] dchiquito commented on #458
I agree we need to clarify what exactly `modified` means. `TimeStampedModel` gives us for free a `modified` that is updated whenever `save()` is called. If we want it to mean something more dandi specific, we need to define exactly what changes constitute a modification. Metadata definitely should, uploading/deleting assets should, but should changing ownership? publishing? validation completion?

[2022-01-04 16:27] dchiquito commented on #548
I think this is duplicated by https://github.com/dandi/dandi-api/issues/567

[2022-01-04 16:42] bendichter opened #700 "In the new DLP, clicking the contact icon does nothing"
![image](https://user-images.githubusercontent.com/844306/148093118-615fa444-e210-43a3-a78e-bffce8ea11a2.png)
 on https://gui.dandiarchive.org/#/dandiset/000212

[2022-01-04 16:50] satra opened #663 "sort users list in dashboard by date joined"
the primary use is to add new users to slack. so it would be helpful if the users were sorted by date joined. i can imagine other sorting features in the future, but having the date joined would be helpful.

[2022-01-04 18:31] waxlamp commented on #548
Since you are not sure, I'll leave this open; but go ahead and close this if you are sure they're the same underlying problem.

[2022-01-04 18:33] waxlamp commented on #458
Let's do a (small) design doc for this to capture all the appropriate events, send it around for review, and then do as you suggested.

[2022-01-04 18:37] waxlamp commented on #465
Thanks for confirming, Satra.

@dchiquito, is there a clear path forward here? The issue report makes it seem uncertain how to generate `endDate`.

[2022-01-04 18:48] satra opened #699 "allow admins to manage owners"
currently ownership management is limited to owners. admins should be allowed to modify ownership. i can do the modification using the API, so it would be useful to have that option on the UI (similar to publish).

[2022-01-04 19:09] waxlamp commented on #583
Could you file an issue that refers to the TODO so that we've captured your unease in the tracker?

[2022-01-04 19:26] brianhelba commented on #509
Check out [this field](https://github.com/girder/django-girder-utils/blob/587919e4c7b48b67624be40df3389d02380c69bb/girder_utils/db.py#L9). It won't directly solve this problem, but it'll show where you can override if you want additional validation.

Otherwise, [since an empty list is considered a blank value](https://github.com/django/django/blob/205f67cd5bea242fac6b0380fa26570505d07dcb/django/co

[2022-01-04 19:57] satra opened #696 "enable empty dandisets for "my dandisets" page"
the current setting for disabling showing of empty dandisets stays on (i.e. disabled) when clicking on my dandisets. my dandisets, show show everything by default (draft, published, empty).

[2022-01-04 21:50] dchiquito commented on #465
I'm still not sure how we should handle `endDate`. Part of the publishing process involves making a DOI, which needs the entire dandiset metadata, including the `endDate`, which is only knowable once publish is complete. It's a chicken/egg thing.
Publishing is pretty fast so just using the same value for `startDate` and `endDate` is within a few seconds of the correct value, but it is technically

[2022-01-04 23:21] waxlamp commented on #465
@satra, what's the end game for this feature? If there's not a specific reason you need these, I'd say we should just have a `date` field (or, to avoid having to release a new schema, just continue to use the same date for both date fields).

[2022-01-05 00:28] #314 closed

[2022-01-05 14:57] satra commented on #465
activities should record their start and end times in the provenance record. and provenance is a fundamental part of our schema. whether we treat certain activities as trivial or not is a separate discussion.

i would say the chicken and egg situation here is that writing the record to s3 as part of the publish process means that the record contains an end date before write has finished. i'm ok wi

[2022-01-05 16:49] #320 closed

[2022-01-05 17:37] #634 closed

[2022-01-05 17:39] #635 closed

[2022-01-05 17:51] waxlamp commented on #655
What are the services we want to status-check? (Perhaps a question for @satra.)

[2022-01-05 17:52] satra commented on #655
at present i would say: api server, staging server, email services, dandihub, identifiers.org and dandiarchive/gui.dandiarchive

[2022-01-05 18:29] waxlamp opened #665 "Absorb dandiarchive codebase"
The goal is to unify the Django backend and Vue frontend repositories into one. This will make full stack changes easier to write and review, and simplify our usage of GitHub infrastructure such as milestones, labels, issues, and PRs.

[2022-01-05 18:31] dchiquito opened #666 "Move acess metadata field calculation into dandischema"
This is schema-dependant and should be generated by a function exported by dandischema I think, or at the minimum we should have an issue/TODO to do eventually move it there.

_Originally posted by @mvandenburgh in https://github.com/dandi/dandi-api/pull/646#discussion_r773532409_

[2022-01-05 18:47] waxlamp commented on #655
We can use a service like [uptime robot](https://uptimerobot.com/) for the services we control, but how do we check status for "email services" and identifiers.org? For the latter, I suppose we could watch for 400-series errors coming back from it, but it seems like a weird thing for us to do continuously (as opposed to gracefully failing the operation requiring it if it's not available).

[2022-01-05 20:37] waxlamp commented on #465
Then is there anything to do here? Just update how `endDate` is written during DOI generation?

[2022-01-05 21:15] dchiquito opened #667 "Protect Version and Asset endpoints from embargoed dandisets"
`DandisetViewSet` will behave correctly and hide any embargoed dandisets that a user does not have permission to view, but the `VersionViewSet` and `AssetViewSet` do not. They should also use query set filtering to hide Versions and Assets that belong to embargoed dandisets.

[2022-01-06 15:06] waxlamp opened #669 "Return 401/403 for embargoed dandisets, versions, and assets"
@yarikoptic wrote (https://github.com/dandi/dandi-api/pull/668#issuecomment-1006177484):

When responding to a request for an embargoed resource, return 401 if unauthenticated, and 403 if authenticated but unauthorized.

[2022-01-06 15:17] waxlamp commented on #666
@dchiquito can you fill in the Impact and Difficulty ratings in the project pulldown to the right?

[2022-01-06 15:44] dchiquito opened #670 "Find a better way to do DandisetViewSet queryset filtering"
I think the `user=me` solution is reasonable, I was aiming the TODO at the way `get_queryset` was using the request method/query parameters to do filtering. It seems a little questionable to me, but I have yet to find a better way to do it.

_Originally posted by @dchiquito in https://github.com/dandi/dandi-api/issues/583#issuecomment-1004921469_

[code]

[2022-01-06 15:44] dchiquito commented on #583
https://github.com/dandi/dandi-api/issues/670

[2022-01-06 17:02] mvandenburgh opened #694 "Restructure store variables"
Accessing the current dandiset from the vuex store requires the following:

`store.state.dandiset.dandiset.dandiset`

Breakdown of what each property means:
[code]
We may want to consider one or both of the following:
1) Remove the `dandiset` vuex module and just make everything top level. We have no other modules so this makes sense to me.
2) Rename the store variable to `version`.

Applying both

[2022-01-07 15:22] yarikoptic opened #672 ""aged enough" assets are missing SHA256"
<details>
<summary>our dataladification script errored out </summary>

[code]
</details>

and that was on 000211 . Checked for a sample asset in swagger, and

<details>
<summary>indeed no sha256: </summary>

[code]
</details>
and I do not see such assets being listed on dashboard https://api.dandiarchive.org/dashboard/ -- might be worth adding a check? (e.g. if asset older than a day - must have s

[2022-01-07 15:56] #539 closed

[2022-01-07 16:47] jwodder opened #673 "Include meta-metadata in individual asset endpoint responses"
When listing assets via the `/dandisets/{versions__dandiset__pk}/versions/{versions__version}/assets/` endpoint, the following fields are returned:

* `asset_id`
* `blob`
* `zarr`
* `path`
* `size`
* `created`
* `modified`

However, when getting information about an individual asset via the `/dandisets/{versions__dandiset__pk}/versions/{versions__version}/assets/{asset_id}/` or `/assets/{asset_id}

[2022-01-07 16:53] dchiquito commented on #672
I see that asset `bbb22bb0-c560-4079-b2e6-8a8c06b6fd52` has a sha256 calculated in the DB. I assume the relevant bit of your query is the `digest` field:
[code]
I will see if there is anything in papertrail.

[2022-01-07 17:01] dchiquito commented on #672
It appears that `bbb22bb0-c560-4079-b2e6-8a8c06b6fd52` was the only asset which had not recorded it's sha256 in the metadata. I forcibly saved it to resolve the error.
There was nothing in papertrail indicating a problem with that asset. I assume it was created some time ago.

[2022-01-07 17:42] satra opened #674 "zarr issues from cli discussion"
- [x] dandiset size doesn't take zarr asset size into account
- [x] zarr content url should point to s3 location (and zarr proxy api end point when that is ready). but the s3 prefix should also be there like other assets.
- [x] move code for zarr checksum compute to dandischema
- [x] needs API (endpoint) to list individual components of a zarr archive to simplify/robustify download; ideally those

[2022-01-07 18:05] dchiquito commented on #673
I believe we made this change in #236 at @satra's request, for version metadata as well as assets. There is a `/dandisets/{versions__dandiset__pk}/versions/{versions__version}/info/` endpoint that returns the detailed serialization for the Version info. We can add something similar for assets, or we can revert the change and return the serialization instead of the metadata.

[2022-01-07 18:24] satra commented on #673
@dchiquito  is correct and we don't want to move back to that state of returning both things in the asset metadata endpoint.
the assets endpoint returns a paginated json structure, while the assets/<uuid>/ endpoint returns jsonld. this was intentional to ensure that we did not have to force everything to be jsonld. this is the same pattern used for the dandisets and assets.

the actual uri that's

[2022-01-07 21:17] dchiquito opened #676 "Set encodingFormat in metadata for zarr assets"
The metadata for zarr assets should enforce that encodingFormat always be set appropriately. Non-zarr assets will not set an encodingFormat, that is left to the uploader.

https://github.com/dandi/dandi-cli/issues/852#issuecomment-1007601714

[2022-01-07 21:33] dchiquito opened #677 "Set contentUrl correctly for zarr assets"
Currently zarr assets still use the `contentUrl` used by normal assets, which does not work. We should modify the normal asset download endpoint to redirect to the zarr download API endpoint: `/api/zarr/{zarr_id}.zarr/` when the asset is a zarr file.

[2022-01-07 22:25] dchiquito commented on #674
The size field definitely should be taking the zarr assets into account, I will look into that.

The content URL should be resolved by https://github.com/dandi/dandi-api/pull/678.

checksum compute move is coming soon.

[2022-01-07 22:25] yarikoptic commented on #672
what was not the only asset, there was 99 in total (please expand the first collapse) which lead for that dandiset datalad dataset update fail.  Can there be a utility for dashboard which would find all such assets with sha256 known to DB but not present in metadata records? (ideally only the ones which are referenced somewhere in dandiset versions)

[2022-01-10 14:10] dchiquito commented on #672
I just checked again, and according to this query there are no such assets with no sha256 set in the metadata:
[code]
Similar results when searching for a sha256 field that is null or is the empty string. Since this query isn't returning anything, it wouldn't be very useful to have on the dashboard.

Do you have IDs of these problematic assets so I can see exactly what's wrong with them?

[2022-01-10 14:20] #667 closed

[2022-01-10 14:34] dchiquito opened #679 "Implement unembargoing"
See [design doc](https://github.com/dandi/dandi-api/pull/619) ([old link](https://github.com/dandi/dandi-api/blob/96c85ca5b3c1932b450cb00d4c375f0a176e2261/doc/design/embargo-mvp.md?plain=1#L103-L121)):

[2022-01-10 14:38] waxlamp commented on #679
I thought we were using "unembargo" in place of "release"?

[2022-01-10 14:40] dchiquito commented on #679
Weird, that's what it says in the [PR](https://github.com/dandi/dandi-api/pull/619/files) but when went into the commit history and grabbed the most recent content it still said "release". I'll fix it

[2022-01-10 15:26] waxlamp commented on #670
@dchiquito, when you get a chance can you clarify what is questionable about the current code?

[2022-01-10 17:35] dchiquito commented on #673
@jwodder are the fixes for https://github.com/dandi/dandi-api/issues/676 sufficient? If not, we can always add a `/dandisets/{versions__dandiset__pk}/versions/{versions__version}/assets/{asset_id}/info/` endpoint that returns the detailed Django serialization.

[2022-01-10 17:39] jwodder commented on #673
@dchiquito I'd prefer an `/info/` endpoint (including a non-Dandiset-aware `/assets/{asset_id}/info/` endpoint).

[2022-01-10 18:15] #633 closed

[2022-01-10 18:24] bendichter opened #698 "dandiset review button"
Suggestion from @satra:

Have a button on the dandiset landing page to request a review of the dandiset, which sends me an email (ben.dichter@catalystneuro.com)

[2022-01-10 18:28] dchiquito commented on #670
My personal vibe is that the switch statement thing we're doing with `if self.action == 'list': ...` isn't very nice. It means that we're doing all sorts of method specific filtering in a specific method, which involves using query parameters defined in far away methods and using them here. It feels like spaghetti and I don't like it much.

However, my current understanding is that this how it's d

[2022-01-10 19:20] yarikoptic commented on #672
I have done `dandi ls -f json_pp --metadata assets -r dandi://dandi/000211 | jq '.[].metadata.digest."dandi:sha2-256"'` and no empty lines (besides first record for dandiset) were reported.  So, something was odd with our dataladification script (not very likely) or may be some jobs were still running computing sha256s .  ATM it seems to be ok, so let's assume it is all fixed.  I will reopen if I

[2022-01-10 19:20] #672 closed

[2022-01-10 19:38] dchiquito opened #682 "Set accessRequirements"
`populateMetadata` should set `accessRequirements` to the appropriate value for the dandiset (embargoed or open).

This is predicated on the embargoed accessRequirement option being re-enabled in dandischema.

[2022-01-10 20:19] mvandenburgh commented on #627
For completeness - we discussed this further on slack and agreed to add a check to the dandiset creation endpoint that logs an error if a new dandiset's identifier is incorrect.

[2022-01-10 20:23] #676 closed

[2022-01-10 20:23] #677 closed

[2022-01-10 21:21] dchiquito commented on #682
This will be done in #646

[2022-01-10 22:30] #645 closed

[2022-01-10 22:30] #682 closed

[2022-01-11 13:48] jwodder opened #686 "dandi-cli integration is failing due to dandi-api errors"
Integration tests against the master branch of dandi-cli are currently failing due to errors in dandi-api.  (The failures against the release version of dandi-cli are due to dandi/dandi-cli#854 not having been released yet; this can be ignored.)  Focusing on just builds of dandi-api master, this appears to have started with [build #906](https://github.com/dandi/dandi-api/actions/runs/1677817225).

[2022-01-11 14:53] dchiquito commented on #686
@jwodder This error was introduced in https://github.com/dandi/dandi-api/pull/668 and resolved in https://github.com/dandi/dandi-api/pull/683, it should no longer be occurring.
I reran the failing tests [here](https://github.com/dandi/dandischema/runs/4776507452?check_suite_focus=true) and there are still some failures with reuploading assets, however. I'm still looking at those.

I think we shoul

[2022-01-11 15:04] dchiquito commented on #686
This is the error:
[code]
Looks like that is happening when finishing a reupload. I'm suspicious of an API bug/behavior change somewhere so I will keep looking.

[2022-01-11 17:02] dchiquito commented on #686
I'm currently looking at https://github.com/dandi/dandi-cli/runs/4776792709?check_suite_focus=true. When I run the tests on that branch locally they all pass. The errors are with tests that are reuploading assets. For some reason when they query for an existing asset to replace, they find nothing, but when trying to create the new asset, the request fails because an asset already exists.

Some doc

[2022-01-11 17:11] jwodder opened #689 "dandiarchive/dandiarchive-api images on Docker Hub have stopped automatically building"
Automatic Docker Hub builds for this repository stopped being triggered for some reason about 15 days ago, and I can't figure out why.

@yarikoptic Were any changes made to the credentials of dandibot (or whatever account was used to set up the repository link)?  Is there a Docker webhook set up in the GitHub repository's webhooks?

[2022-01-11 17:12] satra commented on #689
@jwodder - is this not the repo for this: https://hub.docker.com/repository/docker/dandiarchive/dandiarchive-api

[2022-01-11 17:13] jwodder commented on #689
@satra Yes, that's the repo.  Note that the three most recent builds (last one four-five hours ago) were manually triggered by me.

[2022-01-11 17:14] jwodder commented on #686
@dchiquito

What exactly do you mean by "locally"?  What Docker image are you using for the dandi-api?  When I run the tests on either the master or gh-852 branch of dandi-cli using the current latest Docker Hub image, hash 9c38fa5d1eda ([which is behind](https://github.com/dandi/dandi-api/issues/689)), the tests fail.

[2022-01-11 17:23] dchiquito commented on #686
I was using
[code]
After pulling the latest image it's broken as in CI. I'm looking into the failure now.

[2022-01-11 18:10] satra commented on #689
@jwodder - let me see if i can trigger the webhook from the repo to see what's going on.

[2022-01-11 18:12] dchiquito commented on #686
@jwodder When publishing a dandiset, somehow the draft version clones all of the assets it contains. When the CLI upload attempts to check for an existing asset, it instead finds two identical assets, causing it to throw a `ValueError` and report that there are no assets, so it attempts to upload the asset again.

The cloning is obviously a serious bug, working on fixing and testing it now.

[2022-01-11 18:41] dchiquito commented on #686
I think it should be fixed now. @jwodder can you rebuild the docker image, rerun the tests, and update/close this issue acordingly?

[2022-01-11 18:58] jwodder commented on #686
Everything seems to be working fine now.

[2022-01-11 18:58] #686 closed

[2022-01-11 21:02] satra commented on #689
appears to be autobuilding again.

[2022-01-11 21:03] #689 closed

[2022-01-12 14:48] dchiquito commented on #632
This is done, but this is also a very important part of embargo, so someone should do some QA in staging and look for any spots I might have missed.

[2022-01-12 17:35] dchiquito opened #692 "Prevent all asset modifications while unembargoing"
Unembargoing involves copying all of the assets in a dandiset from the embargo bucket to the public bucket, so naturally we want to freeze any asset changes while that is happening. Specifically,

* You may not create new assets attached to an unembargoing dandiset
* You may not update an asset attached to an unembargoing dandiset
* You may not delete an asset attached to an unembargoing dandiset

[2022-01-12 19:32] dchiquito commented on #674
@yarikoptic The `/zarr/{zarr_id}.zarr/{path}` endpoint should suffice for zarr file browsing. For directories, it returns something like:
[code]

For files, it returns a redirect to the object in S3.

This endpoint uses the content in the `.checksum` files, so it doesn't have any metadata. If you need last modified time, you could always do a HEAD request on the object to get the last modified dat

[2022-01-12 19:32] rly opened #697 "Add link to dandi jupyterhub onto main page or dandiset page"
In our NWB outreach, we sometimes use or refer to the dandi jupyterhub, but as far as I can see, there is no link or easy way to get to the dandihub except if you happen to know the URL. Can this link be added to the main page and/or from a dandiset page? I vaguely remember this existing previously.

[2022-01-12 19:44] yarikoptic commented on #674
oh, cool -- then it is a non issue at large. Thanks! Marking it with checkmark, let's continue in dandi-cli on this item.

[2022-01-12 20:26] yarikoptic commented on #674
@satra @dchiquito is the entire tree of checksums exposed in API somewhere?  The only end point I think of -- aforementioned `/zarr/{zarr_id}.zarr/{path}` -- doesn't provide it.  I guess that is where checksum for that subtree could be provided in addition to "directories" and "files".

[2022-01-12 20:33] jwodder opened #693 "Directory URLs in `/zarr/{zarr_id}.zarr/{path}` lack trailing slashes, leading to 404"
Using a "directories" URL from a response to a `/zarr/{zarr_id}.zarr/{path}` request as-is leads to a 404, which only goes away when a trailing slash is added to the URL.  A sample session:

[code]

Note that, on the other hand, "files" URLs only seem to be usable when they lack a trailing slash.

[2022-01-12 20:34] jwodder commented on #674
@dchiquito

Attempting a HEAD request with `curl -IsS https://api-staging.dandiarchive.org/api/zarr/79bb04a0-3f1b-46ae-8821-1071fc69ed6e.zarr/.zattrs` results in "405 Method Not Allowed".

[2022-01-12 22:13] yarikoptic commented on #674
Those are redirects, we would need to take it from the redirected url response I guess?

[2022-01-12 22:15] jwodder commented on #674
@yarikoptic That doesn't work either.  If I do `curl -isS https://api-staging.dandiarchive.org/api/zarr/79bb04a0-3f1b-46ae-8821-1071fc69ed6e.zarr/.zattrs`, copy the "Location" header, and then do `curl -IsS $LOCATION`, I get "403 Forbidden".

[2022-01-13 17:15] mvandenburgh opened #695 "Don't show JSON on the DLP"
![image (1)](https://user-images.githubusercontent.com/37340715/149377175-f2cd2dfb-ea3d-4d10-875f-496e81d35882.png)

[2022-01-13 18:53] jwodder opened #746 "Support HEAD requests to `/zarr/{zarr_id}.zarr/{path}`"
It would be nice if dandi-api responded to HEAD requests to `/zarr/{zarr_id}.zarr/{path}` with a redirect to an S3 URL suitable for performing a second HEAD request.  Currently, making a HEAD request to `/zarr/{zarr_id}.zarr/{path}` results in "405 Method Not Allowed", and making a GET request to the endpoint returns a redirect to an S3 URL whose signature makes it only valid for GET requests.  Be

[2022-01-13 19:22] waxlamp opened #795 "Revamp README files"
1. Move the stock Girder4 README content somewhere else (`DEVELOPMENT.md`?)
2. Describe in brief the content in this repository (i.e., Django backend + Vue frontend)
3. Other marketing-type material
4. Links to other READMEs (i.e., Vue app)

[2022-01-13 19:26] waxlamp opened #796 "Design a new release process for unified repo"
Instead of a `master`-following `staging` branch that deploys the frontend to staging, and a manual release procedure that promotes the backend from staging to production, etc., we should have a single process for both.

The process will be something like: merging to `master` causes both the backend and frontend to deploy to staging; a manual release will cause both to deploy to production.

[2022-01-13 19:28] yarikoptic commented on #759
should this issue be transferred to `dandiarchive`?

[2022-01-13 20:20] waxlamp commented on #759
Nope, it's in the right place now (`dandiarchive` is now `dandiarchive-legacy`, and archived).

[2022-01-13 20:33] waxlamp commented on #670
I think this means we should close the issue (your red flag notwithstanding)?

[2022-01-13 21:10] waxlamp commented on #632
@mvandenburgh could you do the requested QA in staging?

[2022-01-13 21:17] #693 closed

[2022-01-13 22:01] dchiquito commented on #674
@yarikoptic @jwodder How about modifying the shape of `/zarr/{zarr_id}.zarr/{path}` so that it looks like:
[code]
`checksums` would contain a checksum for every child of the directory. `checksum` would be the checksum of the current directory.

`LastModified` isn't obtainable without a HEAD request to S3. Hypothetically, you could query the API server, take the `Location` header of the 302 redirec

[2022-01-13 22:06] dchiquito commented on #670
Either that or phone a friend and ask for a second opinion. I'm fine with either.

[2022-01-13 22:10] waxlamp commented on #670
Maybe @brianhelba can do a drive-by. Otherwise, if you want to ask on Slack that would be good. I'll leave it to you to close this issue or take other appropriate action as needed.

[2022-01-13 22:10] dchiquito commented on #674
https://github.com/dandi/dandi-archive/issues/746 would also be an acceptable solution, assuming that clients will follow redirects for HEAD requests as they do for GETs.

[2022-01-13 23:00] #716 closed

[2022-01-14 00:31] #700 closed

[2022-01-14 00:38] #695 closed

[2022-01-14 13:30] jwodder commented on #674
@dchiquito Adding checksums to `/zarr/{zarr_id}.zarr/{path}` sounds good.

[2022-01-14 15:10] yarikoptic commented on #674
I see potential benefits of  including "every child" checksum, but since that would duplicate information within child's own `checksum` field, I wonder if it would better be avoided, and only `checksum` field for this directory itself be kept? (if checksums for children are needed, should be fetched if were not already)

[2022-01-14 15:52] yarikoptic commented on #674
Thank you @dchiquito , makes sense. The only concern is that there is now more to `fsck`:
- consistency of checksums for directories
- consistency in listings (`checksums` keys must be `==` to union of keys in `directories` and `files`).  This one is trivial, but still -- duplication, thus should be checked IMHO.

How/when should we run such fsck's across the entire archive? how could we avoid red

[2022-01-14 17:15] mvandenburgh commented on #715
Closed by https://github.com/dandi/dandiarchive-legacy/pull/1021

[2022-01-14 17:15] #715 closed

[2022-01-14 18:34] dchiquito commented on #674
@yarikoptic I think I don't understand the issue you are concerned about. #802 is basically just a modification to the API surface. It grabs the checksum data from the `.checksum` file along with the subfile and subdirectory information.

"fsck" is handled during zarr file upload or delete, and all tainted `.checksum` files in the tree are updated accordingly. We could add a management command to

[2022-01-14 18:37] dchiquito commented on #746
As discussed in #674, the root problem this issue addresses may be resolved by #802

[2022-01-14 18:44] jwodder commented on #746
@dchiquito No, the "root problem" for this issue is the difficulty of getting the size and "last modified" timestamp of a file in a Zarr.  Checksums are a separate issue.

[2022-01-14 19:07] dchiquito commented on #746
OK, my understanding was that that information was needed to determine when data had been modified, which can also be done with a checksum. I will do this ASAP

[2022-01-14 19:14] jwodder commented on #746
@dchiquito For the record, the download code uses all three data points (size, mtime, and digest/checksum) when deciding whether to download over a local file, with the exact logic depending on the value of the `--existing` option.  For "overwrite-different", size is used for a quick preliminary check, followed by checking the digest if the local & remote sizes are the same.  Mtime is used for the

[2022-01-14 19:22] #714 closed

[2022-01-14 19:58] yarikoptic commented on #674
@dchiquito Thank you for the clarification -- I think I have indeed missed the fact that it is solely reporting on "API surface" which otherwise comes from the same data contained in `.checksum` files on S3.  That is where duplication already exists for directories, and exposing that data via API indeed doesn't make it worse.

s3 checksums information duplication: good that `upload or delete` hand

[2022-01-14 20:16] dchiquito commented on #674
[django-s3-file-field](https://github.com/girder/django-s3-file-field) doesn't do that out of the box ¯\\\_(ツ)\_/¯

[2022-01-14 20:20] dchiquito commented on #674
This was resolved in https://github.com/dandi/dandi-archive/pull/798

I believe this was resolved in https://github.com/dandi/dandi-archive/pull/678/files

This was resolved in https://github.com/dandi/dandischema/pull/109/files

[2022-01-14 20:21] dchiquito opened #806 "Zarr checksum recalculator tool"
_Originally posted by @yarikoptic in https://github.com/dandi/dandi-archive/issues/674#issuecomment-1013435052_

[2022-01-14 20:21] #674 closed

[2022-01-17 15:07] #644 closed

[2022-01-17 15:09] mvandenburgh commented on #699
The current solution doesn't display any warnings if an admin modifies the owners of a dandiset they don't own - I'll reopen this issue and implement a warning dialog.

[2022-01-17 16:03] dchiquito opened #808 "Add admin model for EmbargoedAssetBlob"

[2022-01-17 18:01] dchiquito opened #809 "Fix upload validation not detectin embargoed data"
The upload to staging is working and embargoed data is uploaded in to the staging embargo bucket, but when `uploads/{...}/validate/` is called it doesn't detect the embargoed data and returns a 400 error.

[2022-01-17 18:45] dchiquito commented on #809
It seems to be a permission error, the Django storage is returning Access Denied errors for listing operations so it probably just needs a tweak to the bucket policy.

[2022-01-17 20:49] sentry-io[bot] opened #810 "Cannot register embargoed blobs as new Assets"
All the machinery is in place to upload embargoed asset blobs, but the code that creates new assets still only checks for normal blobs, not embargoed.

Sentry Issue: [DANDI-API-57](https://sentry.io/organizations/dandiarchive/issues/2937180817/?referrer=github_integration)

[code]

[2022-01-17 22:10] #810 closed

[2022-01-17 22:31] dchiquito opened #812 "Allow download embargoed assets"
Using the download link in the UI breaks for embargoed assets.

[2022-01-17 23:35] #746 closed

[2022-01-17 23:37] #809 closed

[2022-01-18 14:38] jwodder opened #814 "Server needs to be updated for schema 0.6.2"
Currently, using the latest release of the CLI (v0.34.1), trying to upload to either production or staging fails with:

[code]

Despite what the message says, it is the servers that need to be upgraded.

[2022-01-18 15:08] dchiquito commented on #814
To resolve things in production I set `DJANGO_DANDI_SCHEMA_VERSION` to `0.6.2` in the production heroku instance. That should be removed as soon as this is released to production.

I will also set that in staging. Staging should be fixed permanently as soon as #815 is merged.

[2022-01-18 15:11] #814 closed

[2022-01-18 15:31] dchiquito opened #816 "Use dandischema zarr checksum calculation code"
The non-django-specific zarr checksum calculation code has been copied over to dandischema. We need to delete that code from this repository and use the common dandischema code.

[2022-01-18 18:03] AlmightyYakob commented on #679
Does this include all versions? Or is it the latest published version, the draft version?

A Dandiset doesn't contain a `metadata` field, but a `Version` does. To which versions should this operation be applied? I suspect this will depend on the first question.

[2022-01-18 18:21] dchiquito commented on #679
Embargoed dandisets are not publishable, so embargoed dandisets are 1-to-1 with draft versions. You only need to consider the draft version for unembargo, so "dandiset metadata" refers to the dandiset's draft version metadata (apologies for the imprecision).

[2022-01-18 19:53] #812 closed

[2022-01-18 20:41] bendichter opened #820 "mailto:undefined"
![image](https://user-images.githubusercontent.com/844306/150015170-f192de4a-32ae-4fa6-baec-f659fd07f8d7.png)

[2022-01-18 20:58] satra commented on #679
@dchiquito - just wanted to make a note here that while we will not want to revert unembargoing, we will likely want the possibility of a future draft being embargoed.

- create an embargoed dataset
- unembargo
- publish (with embargo the draft option)

the last option when checked would allow new additions in embargoed mode to the dandiset while keeping the published version public. this would su

[2022-01-18 21:30] dchiquito commented on #679
I don't think it would be hard to do at all, since embargoed dandisets are allowed to contain unembargoed data.
@satra can you add that to https://github.com/dandi/dandi-archive/blob/master/doc/design/embargo-full.md?

[2022-01-18 21:56] mvandenburgh commented on #820
@bendichter what dandiset is this?

[2022-01-18 21:58] satra commented on #820
@mvandenburgh - while you address this would it be possible to add a bit of spacing between the last letter and the icon?

[2022-01-18 22:16] mvandenburgh commented on #707
This is still waiting on #817.

[2022-01-18 22:22] waxlamp commented on #663
Solved by @mvandenburgh via #804.

[2022-01-19 15:13] waxlamp commented on #711
This is done. See:
- https://gui.dandiarchive.org/#/dandiset/000023
- https://gui.dandiarchive.org/#/dandiset/000109

[2022-01-19 15:18] satra commented on #711
the metadata records on s3 were not adjusted. for example see:

https://dandiarchive.s3.amazonaws.com/dandisets/000023/0.210914.1900/dandiset.yaml

[2022-01-19 15:18] satra commented on #711
also the draft dandiset was not adjusted.

[2022-01-19 15:22] waxlamp commented on #711
These are now adjusted. Looking into the S3 metadata file.

[2022-01-19 15:52] waxlamp commented on #711
@satra, the s3 metdata records should now be updated. Take a look and let me know if everything looks ok.

[2022-01-19 16:03] satra commented on #711
thank you @waxlamp - looks good.

[2022-01-19 16:03] #711 closed

[2022-01-19 16:04] satra commented on #711
the final thing we may need to update is the doi record. will have to check how to do that.

[2022-01-19 16:38] #696 closed

[2022-01-19 16:50] satra opened #2029 "Local deployment"
Allow researchers to deploy a version of DANDI locally on their own infrastructure. This would be useful for local projects, but eventually also to perform easier sync with DANDI.

[2022-01-19 20:35] mvandenburgh commented on #632
I tested these out in staging and couldn't find anything wrong with them, looks like they're working as intended.

[2022-01-19 20:35] #632 closed

[2022-01-19 23:02] #795 closed

[2022-01-20 04:38] satra opened #825 "assets not validating properly"
see the validation errors on this dandiset: https://dandiarchive.org/dandiset/000037/draft

[code]

it's possible this and others got caught in the period when the library wasn't updated on the server.

[2022-01-20 04:40] satra commented on #825
also https://dandiarchive.org/dandiset/000217/draft (which was created today). seems like the server/validation task is running an older version of dandischema.

[2022-01-20 15:55] #707 closed

[2022-01-20 16:36] waxlamp opened #826 "Develop a runbook for CLI/API/dandischema release procedures"

[2022-01-20 16:53] yarikoptic commented on #826
good idea. FWIW, for dandi-cli and dandischema it is largely
- Merge a PR which has `release` label assigned (that would release to github and pypi)
- Wait for conda-forge bot to pick up new release from pypi and prepare a PR against corresponding feedstock. Review/adjust (if needed) and merge

[2022-01-20 16:56] waxlamp commented on #826
This is aimed toward a more holistic understanding of release procedures. I want to avoid the production breakage that occurred this time around due to mismatched dandi schema versions in the different components.

[2022-01-20 17:29] satra commented on #826
i think the simplest solution is that a schema release should always trigger a co-occurring release of all components (api, ui, cli) with support for that schema, since technically the CLI and API don't impose an exact version or a max version, just a min version of the library. this would mean that anyone installing the CLI or upgrading dandischema could in essence move to a newer version of the

[2022-01-20 18:01] dchiquito opened #827 "Make embargo endpoints return 401/403 instead of 404"
Right now embargo endpoints are set up to return 404s, acting as if the embargoed dandiset does not exist, if the client is not authorized to see the embargoed data. As discussed in https://github.com/dandi/dandi-cli/issues/867 we should return 401 if the client is unauthorized and 403 if the client does not have permission.

[2022-01-20 18:06] jwodder commented on #827
Duplicate of #669?

[2022-01-20 19:21] bendichter opened #829 "feat request: redirect https://dandiarchive.org/dandiset/7 to https://dandiarchive.org/dandiset/000007"

[2022-01-20 19:23] satra commented on #829
we used to have this feature, but @yarikoptic said we should stop doing this. this is more of a policy thing at one level, but also as we remove the redirector it may be a practical question as well as to how.

[2022-01-20 19:27] bendichter commented on #829
Let me explain why I'd like this.

For the NWB ecosystem paper, I have a table of users to illustrate how widely adopted NWB is that looks like this:

![image](https://user-images.githubusercontent.com/844306/150408353-0cb0b5fc-401a-491b-b1ab-6892cf39afef.png)

Then I have at the bottom:

which isn't quite true, and I don't know how to easily communicate this. I guess I could change the text to:

[2022-01-20 20:25] dchiquito commented on #827
It is indeed a duplicate

[2022-01-20 20:25] #827 closed

[2022-01-20 21:13] yarikoptic opened #832 "Can't view metadata for an embargoed (?) asset -- 404, can download embargoed asset using wget"
I guess I am the super user (YH) since I can navigate an embargoed dataset at
https://gui-staging.dandiarchive.org/#/dandiset/101126/draft/files?location=sub-001%2F
which I guess is embargoed since metadata has
` Access Information: dandi:EmbargoedAccess`
and I can even download that asset (single one in that directory) from https://api-staging.dandiarchive.org/api/assets/136c084f-ce71-417c-856f-9

[2022-01-20 21:20] #669 closed

[2022-01-20 21:21] satra commented on #829
one way would be turn those numbers into links.

[2022-01-20 21:26] bendichter commented on #829
I suppose, but do supplemental materials usually allow links where the link destination and link label are different?

[2022-01-20 21:30] satra commented on #829
they should. i would be worried about an outlet that didn't.

[2022-01-20 21:33] yarikoptic opened #833 "Add some visual indicator/marker for embargoed dandisets"
Went to https://gui-staging.dandiarchive.org/#/dandiset to find some embargoed dataset to "check out".  I am logged in as a mighty myself so I can see the dataset titled "Embargoed dataset" which I do not see if I go to the same page in incognito (not logged in) mode. So it is embargoed.
But I think we need to add some more explicit indicator for such datasets. E.g. a lock icon or alike nearby the

[2022-01-20 21:34] yarikoptic opened #834 "Rename "Public Dandisets" into "All dandisets" or just "Dandisets""
Since that listing would include embargoed dandisets to which user has access to, and which aren't really "Public".

[2022-01-20 21:35] waxlamp commented on #833
I know I have seen an "embargoed" chip on staging before... @mvandenburgh, can you commenton what might be happening here?

[2022-01-20 21:38] waxlamp commented on #834
I would prefer "all dandisets" to "dandisets".

Need input from @satra.

[2022-01-20 21:40] waxlamp commented on #829
I see the practical need for you, @bendichter, but I think I agree with the general sentiment that we shouldn't do this. It's hard for me to express why I feel that way. What was @yarikoptic's original argument?

[2022-01-20 21:42] satra commented on #834
i don't have a strong preference, but `all` may mean everything .and we will not be showing embargoed dandisets to non-owners. Hence`Dandisets` without any qualifiers seems simpler, but would be ok if `All` was included.

[2022-01-20 21:45] waxlamp commented on #834
The trouble is there's a "my dandisets" tab as well, which is a contrast to "all dandisets". IMO, "all" is implicitly "all that are available to me" which excludes embargoed dandisets.

(I don't want to bikeshed this too much--I'm fine with either choice, but it deserves at least this much discussion)

[2022-01-20 21:45] waxlamp commented on #834
The other thing we could consider is not to show embargoed dandisets in the "all/public" tab at all, only in "my". Then we could keep the word "public" in the interface, which is a nice, subtle reminder of what we're all about here in dandiworld.

[2022-01-20 21:48] waxlamp commented on #832
Something is definitely wrong. @dchiquito can you please take a look at what's going on?

[2022-01-20 21:49] satra commented on #834
i'm good with that as long as admins can see them somewhere.

[2022-01-20 21:50] mvandenburgh commented on #833
None of the embargo UI elements are merged to `master` yet, so they are not reflected in https://gui-staging.dandiarchive.org yet. You can see them in this deploy preview though https://deploy-preview-800--gui-dandiarchive-org.netlify.app/

[2022-01-20 21:53] yarikoptic commented on #829
[code]

those are our dandiset IDs, and should be treated as a complete "thing" (i.e. a string), not just some numeric number formatted to some specific length with 0s.   For one, we could outgrow the largest number and then logic would need to be "adjusted" if casting/formatting is to happen.  There might be more argumentation if you follow https://github.com/dandi/redirector/pull/39 which is wha

[2022-01-20 21:53] waxlamp commented on #833
Ah thanks for clearing that up, @mvandenburgh.

It might be good to unveil the visual indicator and the access restrictions in prod, but keep the UI for creating embargoed dandisets hidden until the CLI catches up.

If we did that in one PR, it would likely be enough to close this issue and Yarik's other issue about 404s on embargoed data.

[2022-01-20 21:56] bendichter commented on #829
OK, I changed them to links

[2022-01-20 21:56] #829 closed

[2022-01-20 22:16] jwodder commented on #832
Relatedly, I can access https://api-staging.dandiarchive.org/api/assets/ac748e41-ca47-4656-852e-f9f00142c9ce/ via curl without authenticating, which I don't think should be possible.

[2022-01-20 22:53] waxlamp commented on #829
Thanks, @yarikoptic, for the argument, and thanks, @bendichter, for your flexibility.

[2022-01-21 03:25] satra commented on #352
we should consider whatever utilities that work on metadata to be useful to the backend be implemented in dandischema. sometimes it's trivial that it doesn't need to be. but perhaps some functions are indeed best done in the schema. since some of these functions have already been implemented in the api, perhaps easiest is to send a PR to dandischema with those functions ? i also see that #426 refe

[2022-01-21 03:38] djarecka commented on #734
I've started working on this, but I realized that this is done under the cogwheel icon

[2022-01-21 03:38] #734 closed

[2022-01-21 13:57] yarikoptic opened #837 "Remove Welcome, make logo and/or DANDI in the top "menu" go to the main page"
ATM on DLP page, e.g. https://gui.dandiarchive.org/#/dandiset/000168/draft, WELCOME is the one which goes to the main page (https://gui.dandiarchive.org/) and logo and DANDI to the left of it aren't hyperlinks.  I wonder if it is worth keeping WELCOME at all -- why not to make "logo DANDI" to be the hyperlink jumping to the main page?  That would save some page real estate happen we need another m

[2022-01-21 13:57] waxlamp commented on #734
@yarikoptic, are you happy with calling this issue closed by the "show drafts" toggle we have now?

[2022-01-21 14:07] waxlamp commented on #832
@yarikoptic, I need some clarification on this. My understanding from your issue report is:
1. You are able to view embargoed dandisets through the web UI, including the ability to download embargoed assets.
2. You are able to download embargoed assets via unauthenticated `wget` calls.

(1) is desired behavior, but (2) is not--is that right?

I am not sure what you are saying about the blue info i

[2022-01-21 14:08] waxlamp commented on #837
I would be ok with this. @jtomeck, any reason not to do it?

[2022-01-21 14:14] yarikoptic commented on #734
yes, seems to work very nicely, thank you! (apparently we have about 7 pages worth of empty dandisets on main instance)

[2022-01-21 14:26] waxlamp commented on #352
Ok, thanks Satra. If you come across other such functions, please file separate issues for them.

[2022-01-21 14:37] yarikoptic commented on #833
Cool, but unfortunately I found no embargoed datasets there to see "in action".

[2022-01-21 14:43] waxlamp opened #838 "Add "admin privilege" chip to dandiset listings"
In addition to the warnings shown to admins inside of DLPs for dandisets they don't own, we should show this status in the listings themselves. This will be important for embargoed dandisets, especially if we only show those in the "my dandisets" listing as suggested in #834.

@mvandenburgh, thoughts?

[2022-01-21 14:45] waxlamp commented on #834
My thinking is to show embargoed dandisets only in the "my dandisets" view (both to their owners, and to admins). Then we can retain the "public dandisets" designation which has its benefits.

@satra I assume you're ok with this plan; let me know if not.

[2022-01-21 14:46] waxlamp commented on #833
Are you logged in? The very first dandiset in "public dandisets" is embargoed (only if I am logged in).

[2022-01-21 14:47] waxlamp commented on #352
Ah gotcha.

@dchiquito, I've marked this issue as "accepted" and assigned you. Let me know if you'd like to delegate it to someone else instead.

[2022-01-21 15:00] yarikoptic commented on #832
correct

see http://www.onerussian.com/tmp/screencast-blue-info-20220121.webm although behavior has changed. Now it is not 404 but 401 (due to recently merged PR, good -- might shine the light) with `"detail": "Authentication credentials were not provided."`

[2022-01-21 15:29] yarikoptic commented on #833
I could have sworn I was logged in.  Tried again -- wasn't, logged in, see red "embargoed".

Cool. Added `Closes` statement to #800

[2022-01-21 15:32] yarikoptic commented on #834
FWIW, I do not think that "My" includes all embargoed I might have access to.  E.g. on https://deploy-preview-800--gui-dandiarchive-org.netlify.app/#/dandiset (on staging there is no filtering, have pages in My, didn't go through) I see 101126 in "Public" but not listed in "My".

[2022-01-21 15:51] satra commented on #834
@waxlamp 's thing has not been implemented yet though. that's why embargoed are in public. he is suggesting a change to the behavior.

[2022-01-21 16:59] #833 closed

[2022-01-21 17:16] mvandenburgh commented on #838
Agreed that we need some kind of indicator. I wonder if it would be better to have an icon with a tooltip that gives this info, to differentiate it from the other chips as an "admin-only" feature. It's such a small thing that I could implement both and we can decide which looks better.

[2022-01-21 18:07] waxlamp commented on #838
A red-background `#`, with an explanatory tooltip, could be a good choice (reflecting the standard use of `#` for sudo shells in Linux). To avoid showing this status on all public dandisets not owned by an admin, I think this feature would be specific to the "my dandisets" view (to mark them as coming under admin purview even though not owned by the admin).

[2022-01-21 18:51] waxlamp commented on #665
Done via #675.

[2022-01-21 18:51] #665 closed

[2022-01-21 18:54] waxlamp commented on #600
This has been implemented.

[2022-01-21 18:58] waxlamp commented on #166
Closing as a dupe of #320.

[2022-01-21 18:58] #166 closed

[2022-01-21 19:34] mvandenburgh commented on #600
I thought this was implemented too, but apparently it's not. [This line](https://github.com/dandi/dandi-archive/blob/2a0555a59fe55e41c9fdf49ad3aa765248f32154/dandiapi/api/mail.py#L55) is still pulling the user's name from their github profile.

[2022-01-21 19:50] waxlamp commented on #600
Are you sure? I thought that line is grabbing the full name and falling back on the github username if it can't find one. Recent registration emails show the user's full name.

[2022-01-21 19:51] waxlamp commented on #697
@satra, should this go on the front page?

[2022-01-21 19:52] waxlamp commented on #698
Can you give me some more detail on the desired use case? Specifically: why wouldn't you just send the link to someone using ordinary comm channels?

[2022-01-21 19:54] waxlamp commented on #796
@mvandenburgh, I'd like to knock this out sooner rather than later, if you have the bandwidth for it. Can we meet to discuss a strategy?

[2022-01-21 19:55] mvandenburgh commented on #600
It's grabbing their full name **from their github profile** and falling back on the github username if it can't find one. `socialaccount.extra_data` is a JSON blob that we get from github that contains user profile info. So instead of using that, we'd want to use the `user.first_name` and `user.last_name` fields that we collect from them in the user questionnaire.

[2022-01-21 19:57] waxlamp commented on #806
I'm not really sure what's being requested here. An `fsck` type management script?

[2022-01-21 20:02] satra commented on #697
it should go on the header somewhere, so people can click on it from any page i think.

[2022-01-21 20:11] mvandenburgh commented on #796
Just dumping my thoughts on this that I had written down from when I looked into it a little while ago, we can discuss further when we meet in person -

The backend Heroku deployment should largely stay the same, while the frontend Netlify deployment method will change entirely.

Currently, we are using Netlify's Github integration to react to a push to `master` by deploying to production (i.e. a

[2022-01-21 21:09] yarikoptic commented on #806
yes, to ensure that each zarr content tree on S3 has consistent with it checksums "tree"

[2022-01-21 23:10] waxlamp commented on #832
The problem here is that accessing assets through the dandisets endpoint properly [restricts access](https://github.com/dandi/dandi-archive/blob/master/dandiapi/api/views/dandiset.py#L139-L146) based on ownership, but the top-level assets endpoint [does not](https://github.com/dandi/dandi-archive/blob/master/dandiapi/api/views/asset.py#L227-L229).

This is a bit tricky, I think. If an asset is in

[2022-01-24 15:22] yarikoptic opened #840 "started to get 503 for awhile for GET https://api.dandiarchive.org/api/dandisets/"
Happened twice recently

<details>
<summary>Sat, 22 Jan 2022 05:19:00 -0500</summary>

[code]
</details>

<details>
<summary>Mon, 24 Jan 2022 04:19:00 -0500</summary>

[code]
</details>

I wonder if anything on the server side which is known about those incidents?

[2022-01-24 15:44] bendichter commented on #698
Someone could easily send me a link to their dandiset, but they wouldn't know to do that. They don't know that we offer reviews, when asking for a review would be appropriate and they don't know who to send the link to. This would integrate the process for them. Honestly this is sort of a "close elevator button" feature, since I get around to reviewing most datasets anyway. It's just nicer if they

[2022-01-24 15:50] waxlamp commented on #698
Thanks for the extra detail, Ben. So if I understand correctly, this would be a button that says "request review" that would, in the backend, simply send an email to you directly?

Is "request review" the right wording? That sounds like you're entering a perilous place where your dandiset could possibly be rejected or something.

[2022-01-24 18:35] #642 closed

[2022-01-24 21:58] waxlamp commented on #465
ping @satra

[2022-01-24 22:06] satra commented on #465
i think i could live with these steps.

1. fill metadata
2. generate doi
3. stick doi in metadata
4. update enddate to be now + 1min (or choose a time roughly based on how long it takes to write)
5. write to db/s3/etc.,. (assuming this doesn't take more than a min).

this would be both correct and create a publishing window within which other timestamps exist (e.g., things written to s3).